
@keyframes theDot {
  18% {
    opacity: 0;
  }
  // clock
  19% {
    opacity: 1;
    // width: 380px;
    // height: 380px;
    width: 35.185185%;
    height: 59.210526%;
    // top: 114px;
    // left: 350px;
    top: 18.75%;
    left: 32.407407%;
  }
  // jb start
  22% {
    // width: 20px;
    // height: 20px;
    width: 1.8518519%;
    height: 3.2894737%;
    // top: 355px;
    // left: 420px;
    top: 58.388158%;
    left: 38.888889%;
  }
  23% {
    // width: 26px;
    // height: 26px;
    width: 2.4074074%;
    height: 4.2763158%;
  }
  24% {
    // width: 20px;
    // height: 20px;
    width: 1.8518519%;
    height: 3.2894737%;
    // top: 355px;
    // left: 420px;
    top: 58.388158%;
    left: 38.888889%;
  }
  // jb bars
  26% {
    top: 46.052632%;
    left: 16.666667%;
  }
  27% {
    // width: 20px;
    // height: 20px;
    width: 1.8518519%;
    height: 3.2894737%;
    // top: 250px;
    // left: 100px;
    top: 41.118421%;
    left: 9.2592593%;
  }
  // kick
  32%, 33% {
    // width: 30px;
    // height: 30px;
    width: 2.7777778%;
    height: 4.9342105%;
    // top: 120px;
    // left: 425px;
    top: 19.736842%;
    left: 39.351852%;
  }
  34% {
    // top: -20px;
    top: -3.2894737%;
  }
  35% {
    // width: 500px;
    // height: 500px;
    width: 46.296296%;
    height: 82.236842%;
    // top: 50px;
    // left: 100px;
    top: 8.2236842%;
    left: 9.2592593%;
  }
  36% {
    // width: 450px;
    // height: 450px;
    width: 41.666667%;
    height: 74.013158%;
    // top: 50px;
    // left: 100px;
    top: 8.2236842%;
    left: 9.2592593%;
  }
  39% {
    transform-origin: 50% 50% 0;
  }
  // jg start
  40% {
    // width: 20px;
    // height: 20px;
    width: 1.8518519%;
    height: 3.2894737%;
    // top: 325px;
    // left: 350px;
    top: 53.453947%;
    left: 32.407407%;
    // transform-origin: 230px 55px 0;
    transform-origin: 1150.0% 275% 0;
    transform: rotateZ(0deg);
  }
  42% {
    transform: rotateZ(0deg);
  }
  43% {
    transform: rotateZ(15deg);
  }
  44% {
    transform: rotateZ(-10deg);
  }
  45% {
    // top: 325px;
    // left: 350px;
    top: 53.453947%;
    left: 32.407407%;
    transform: rotateZ(88deg);
    transform-origin: 1150.0% 275% 0;
    animation-timing-function: steps(1, start);
  }
  45.1% {
    top: 25.453947%;
    left: 55.407407%;
    transform: rotateZ(0deg);
    transform-origin: 50% 50% 0;
  }
  // cp intro
  47% {
    // width: 20px;
    // height: 20px;
    width: 1.8518519%;
    height: 3.2894737%;
    // top: 100px;
    // top: 16.447368%;
    // top: 50px;
    top: 8.223684%;
    // transform: rotateZ(44deg);
  }
  48% {
    // width: 16px;
    // height: 16px;
    width: 1.4814815%;
    height: 2.6315789%;
    // top: 300px;
    // left: 570px;
    top: 49.342105%;
    left: 52.777778%;
    // transform: rotateZ(0deg);
    // transform-origin: 230px 55px 0;
    // transform-origin: 1150.0% 275% 0;
  }
  // cp main
  52% {
    // top: 115px;
    // left: 240px;
    top: 18.914474%;
    left: 22.222222%;
  }
  57% {
    // width: 16px;
    // height: 16px;
    width: 1.4814815%;
    height: 2.6315789%;
    // top: 115px;
    // left: 240px;
    top: 18.914474%;
    left: 22.222222%;
  }
  // at start
  60% {
    // width: 30px;
    // height: 30px;
    width: 2.7777778%;
    height: 4.9342105%;
    // top: 465px;
    // left: 210px;
    top: 76.480263%;
    left: 19.444444%;
  }
  61% {
    // top: 420px;
    top: 69.078947%;
  }
  62% {
    // top: 440px;
    top: 72.368421%;
  }
  64% {
    // width: 40px;
    // height: 40px;
    width: 3.7037037%;
    height: 6.5789474%;
    // top: 370px;
    // left: 290px;
    top: 60.855263%;
    left: 26.851852%;
  }
  66% {
    // width: 500px;
    // height: 500px;
    width: 46.296296%;
    height: 82.236842%;
    // top: 50px;
    // left: 50px;
    top: 8.2236842%;
    left: 4.6296296%;
  }
  // jw intro
  67% {
    // width: 70px;
    // height: 70px;
    width: 6.4814815%;
    height: 11.513158%;
    // top: 160px;
    // left: 500px;
    top: 26.315789%;
    left: 46.296296%;
  }
  68% {
    // width: 90px;
    // height: 90px;
    width: 8.3333333%;
    height: 14.802632%;
    // top: 145px;
    // left: 500px;
    top: 23.848684%;
    left: 46.296296%;
  }
  71% {
    // width: 80px;
    // height: 80px;
    width: 7.4074074%;
    height: 13.157895%;
    // top: 150px;
    // left: 430px;
    top: 24.671053%;
    left: 39.814815%;
  }
  // jw main
  72%, 73% {
    // width: 20px;
    // height: 20px;
    width: 1.8518519%;
    height: 3.2894737%;
    // left: 520px;
    left: 48.148148%;
  }
  75%, 77% {
    // top: 132px;
    // left: 166px;
    top: 21.710526%;
    left: 15.37037%;
  }
  78% {
    // left: 120px;
    left: 11.111111%;
  }
  80% {
    // top: 275px;
    top: 45.230263%;
  }
  // archer
  81%, 82% {
    // top: 135px;
    top: 22.203947%;
    opacity: 1;
  }
  83% {
    opacity: 0;
  }
  100% {
    // width: 20px;
    // height: 20px;
    width: 1.8518519%;
    height: 3.2894737%;
    // top: 135px;
    // left: 120px;
    top: 22.203947%;
    left: 11.111111%;
    opacity: 0;
    transform: rotateZ(0deg);
    transform-origin: 50% 50% 0;
  }
}

@keyframes theDotTrail {
  // jb bars
  26% {
    width: 0;
  }
  27% {
    opacity: 0;
    // width: 100px;
    width: 800%;
  }
  28% {
    opacity: 1;
  }
  29%, 33% {
    opacity: 1;
    // width: 1200px;
    width: 5200%;
  }
  // kick
  34%, 66% {
    opacity: 0;
  }
  // jw intro
  67%, 76% {
    opacity: 1;
  }
  // jw main
  77%, 100% {
    opacity: 0;
    // width: 1200px;
    width: 5200%;
  }
}

@keyframes clockInOut {
  0% {
    transform: scale(40);
  }
  25%, 95% {
    transform: scale(1);
  }
  96%, 100% {
    transform: scale(0);
  }
}

@keyframes spinningHands {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes leftLeg {
  50% {
    transform: rotateZ(1deg);
  }
  100%
  {
    transform: rotateZ(-15deg);
  }
}

@keyframes rightLeg {
  50% {
    transform: rotateZ(-3deg);
  }
  100%
  {
    transform: rotateZ(15deg);
  }
}

@keyframes hide {
  to {
    opacity: 0;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes showOpacity {
  to {
    opacity: 0.8;
  }
}

@keyframes fall {
  to {
    // top: 620px;
    top: 101.973684%;
  }
}

@keyframes climb {
  to {
    // top: -620px;
    top: -101.973684%;
  }
}

@keyframes rotateFly {
  10% {
    // top: 20px;
    top: 5.2631579%;
  }
  60% {
    transform: rotateY(0deg);
    // top: 20px;
    top: 5.2631579%;
  }
  100% {
    transform: rotateY(0deg);
    // top: -300px;
    top: -78.947368%;
  }
}

@keyframes scaleIn {
  to {
    transform: scale(1);
  }
}

@keyframes slideRight {
  to {
    left: 0;
  }
}

@keyframes hjbMove {
  to {
    // top: 305px;
    // left: 100px;
    top: 50.164474%;
    left: 9.2592593%;
  }
}

@keyframes hjbGun {
  50%, 62% {
    transform: rotateZ(0deg);
  }
  63%, 100% {
    transform: rotateZ(5deg);
  }
}

@keyframes slideThrough {
  to {
    // left: 1080px;
    left: 100%;
  }
}

@keyframes kickBack {
  to {
    transform: scale(0);
  }
}

@keyframes kickImg {
  20% {
    // top: 80px;
    top: 13.157895%;
    transform: rotate(0deg) scale(1);
  }
  60% {
    // left: 540px;
    left: 50%;
  }
  72% {
    // left: 370px;
    left: 34.259259%;
    background-position: 0 0;
    transform-origin: 100% 100% 0;
    animation-timing-function: steps(1, start);
  }
  73% {
    // left: 370px;
    // background-position: 0 -500px;
    left: 34.259259%;
    background-position: 0 100%;
    transform-origin: 50% 50% 0;
  }
  80% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    // top: 80px;
    // left: 370px;
    // background-position: 0 -500px;
    top: 13.157895%;
    left: 34.259259%;
    background-position: 0 100%;
    transform: rotate(0deg) scale(0);
    transform-origin: 50% 50% 0;
  }
}

@keyframes stretchOpen {
  to {
    transform: scale(1, 1);
  }
}

@keyframes jgText {
  33% {
    // top: 350px;
    top: 57.565789%;
    transform: rotateZ(0deg);
    // transform-origin: 250px 30px 0;
    transform-origin: 52.521008% 50% 0;
  }
  53% {
    transform: rotateZ(0deg);
  }
  63% {
    transform: rotateZ(15deg);
  }
  74% {
    transform: rotateZ(-10deg);
  }
  83% {
    // top: 350px;
    top: 57.565789%;
    transform: rotateZ(88deg);
  }
  100% {
    // top: 840px;
    top: 138.157895%;
    transform: rotateZ(88deg);
    // transform-origin: 250px 30px 0;
    transform-origin: 52.521008% 50% 0;
  }
}

@keyframes heartBreakLeft {
  10% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.1);
  }
  18% {
    transform: scale(1);
  }
  22% {
    transform: scale(1.1);
  }
  26% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  34% {
    transform: scale(1);
  }
  36% {
    // top: 60px;
    top: 9.8684211%;
  }
  52% {
    // top: 450px;
    // left: 595px;
    top: 74.013158%;
    left: 55.092593%;
    transform: rotateZ(0deg);
  }
  71% {
    // top: 370px;
    // left: 720px;
    top: 51.388889%;
    left: 66.666667%;
    transform: rotateZ(-60deg);
  }
  76% {
    // top: 490px;
    // left: 700px;
    top: 80.592105%;
    left: 64.814815%;
  }
  85% {
    // top: 600px;
    // left: 420px;
    top: 98.684211%;
    left: 38.888889%;
    transform: rotateZ(-15deg);
  }
  90%, 100% {
    // top: 620px;
    // left: 420px;
    top: 101.973684%;
    left: 38.888889%;
    transform: scale(1);
  }
}

@keyframes heartBreakRight {
  10% {
    transform: scale(1);
    // left: 595px;
    left: 55.092593%;
  }
  11% {
    transform: rotateZ(0deg);
  }
  14% {
    transform: scale(1.1);
    // left: 597px;
    left: 55.277778%;
  }
  18% {
    transform: scale(1);
  }
  22% {
    transform: scale(1.1);
    // left: 599px;
    left: 55.462963%;
  }
  26% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
    // left: 601px;
    left: 55.648148%;
  }
  34% {
    transform: scale(1);
  }
  36% {
    // top: 60px;
    // left: 603px;
    top: 9.8684211%;
    left: 55.833333%;
    transform: rotateZ(4deg);
    z-index: 3;
  }
  37% {
    z-index: 0;
  }
  45% {
    // left: 670px;
    left: 62.037037%;
    transform: rotateZ(75deg);
  }
  50% {
    // top: 610px;
    top: 100.328947%;
  }
  100% {
    transform: scale(1) rotateZ(75deg);
    // top: 610px;
    // left: 670px;
    top: 100.328947%;
    left: 62.037037%;
    z-index: 1;
  }
}

@keyframes slideLeft {
  to {
    // left: -1080px;
    left: -100%;
  }
}

@keyframes cpInOut {
  40% {
    top: -80%;
    left: -80%;
  }
  58% {
    top: -100%;
    left: -100%;
  }
  85% {
    top: -100%;
    left: -100%;
  }
  100% {
    top: -200%;
    left: -100%;
  }
}

@keyframes cpIntro {
  to {
    top: 0;
    left: 0;
  }
}

@keyframes cpImg {
  50% {
    // top: -30px;
    // left: 210px;
    top: -10.526316%;
    left: 27.631579%;
    transform: scale(1);
  }
  70% {
    background-position: 0 0;
    animation-timing-function: steps(1, start);
  }
  71% {
    // background-position: 0 -350px;
    background-position: 0 100%;
  }
  100% {
    // top: -30px;
    // left: 210px;
    top: -10.526316%;
    left: 27.631579%;
    // background-position: 0 -350px;
    background-position: 0 100%;
    transform: scale(1);
  }
}

@keyframes bolt {
  to {
    background-position: 0 0;
  }
}

@keyframes cpPhone {
  0%, 20% {
    // top: 200px;
    // left: 60px;
    top: 70.175439%;
    left: 7.8947368%;
    transform: rotate(-60deg);
  }
  50%, 60% {
    // top: 50px;
    // left: 160px;
    top: 17.54386%;
    left: 21.052632%;
    transform: rotate(10deg);
  }
  70%, 100% {
    // top: 50px;
    // left: 160px;
    top: 17.54386%;
    left: 21.052632%;
    transform: rotate(-10deg);
  }
}

@keyframes atIn {
  30%, 100% {
    // top: -440px;
    top: -72.368421%;
  }
}

@keyframes atOut {
  75% {
    left: 0;
    transform: rotateY(0deg) scale(1);
  }
  100% {
    // left: 250px;
    left: 23.148148%;
    transform: rotateY(-45deg) scale(.4);
  }
}

@keyframes atTextInOut {
  30%, 75% {
    left: 0;
    transform: rotateY(0deg) scale(1);
  }
  100% {
    // left: 250px;
    left: 23.148148%;
    transform: rotateY(-45deg) scale(.4);
  }
}

@keyframes atTextSlide {
  30% {
    // bottom: 30px;
    // left: 150px;
    bottom: 4.9342105%;
    left: 13.888889%;
    // font-size: 70px;
    // height: 69px;
    height: 11.348684%;
  }
  75%, 100% {
    // bottom: 50px;
    // left: 210px;
    bottom: 8.2236842%;
    left: 19.444444%;
    // font-size: 95px;
    // height: 95px
    height: 15.625%
  }
}

@keyframes atImgIn {
  to {
    // left: 410px;
    left: 37.962963%;
    transform: scale(1);
  }
}

@keyframes atGunUp {
  to {
    background-position: 0 0;
  }
}

@keyframes jwInOut {
  40%, 100% {
    left: 0;
  }
}

@keyframes jwMainInOut {
  20% {
    transform: scale(1);
  }
  80% {
    // margin-top: 35px;
    margin-top: 3.2407407%;
  }
  100% {
    transform: scale(1);
    // margin-top: -550px;
    margin-top: -50.925926%;
  }
}

@keyframes jwGlass {
  to {
    // bottom: 40px;
    // left: 170px;
    bottom: 7.5471698%;
    left: 35.416667%;
    transform: rotate(-30deg);
  }
}

@keyframes splash {
  to {
    background-position: 0 100%;
  }
}

@keyframes jwTextTopIn {
  25%, 100% {
    top: 7%;
  }
}

@keyframes jwTextBottomIn {
  25%, 100% {
    // top: 90px;
    top: 30%;
  }
}

@keyframes jwTextOut {
  85% {
    // top: 60px;
    top: 9.8684211%;
  }
  100% {
    // top: -300px;
    top: -49.342105%;
  }
}

@keyframes cannonballRun {
  to {
    // background-position: 0 -1650px;
    background-position: 0 100%;
  }
}

@keyframes cannonball {
  1% {
    opacity: 0.8;
  }
  30% {
    // left: 120px;
    left: 25%;
    transform: scale(0.2);
  }
  97% {
    // top: 170px; 95px
    // top: 32.075472%;
    top: 17.924528%;
  }
  98% {
    opacity: 0.8;
  }
  99%, 100% {
    opacity: 0;
    // top: 170px; 95px
    // left: 120px;
    // top: 32.075472%;
    top: 17.924528%;
    left: 25%;
    transform: scale(0.2);
  }
}

@keyframes arBoxesIn {
  to {
    // margin-top: 95px;
    margin-top: 8.7962963%;
  }
}

@keyframes arImgInOut {
  8% {
    // height: 400px;
    height: 65.789474%;
  }
  82% {
    // top: 130px;
    top: 21.381579%;
    background-position: 0 0;
    animation-timing-function: steps(1, start);
  }
  83% {
    // top: 130px;
    top: 21.381579%;
    // background-position: 0 -400px;
    background-position: 0 100%;
  }
  92%, 100% {
    // top: 620px;
    // height: 400px;
    top: 101.973684%;
    height: 65.789474%;
    // background-position: 0 -400px;
    background-position: 0 100%;
  }
}

@keyframes arBoxGirls {
  49% {
    background-color: $red2;
  }
  50%, 100% {
    background-color: $green5;
    background-position: right 0;
  }
}

@keyframes arBoxesOut {
  0% {
    background-color: $green5;
  }
  35% {
    // margin-top: -75px;
    // margin-top: -10.714286%;
    top: -29.411765%;
  }
  100% {
    background-color: $green5;
    // margin-top: 550px;
    // margin-top: 78.571429%;
    top: 215.686275%;
  }
}

@keyframes arLetterIn {
  to {
    margin-top: 0;
  }
}

@keyframes arLetterOut {
  from {
    margin-top: 0;
  }
  to {
    // margin-top: 250px;
    margin-top: 31.25%;
  }
}