.hd {
  width: 1080px;
  height: 608px;
}
@-webkit-keyframes theDot {
  18% {
    opacity: 0;
  }
  19% {
    opacity: 1;
    width: 380px;
    height: 380px;
    border-radius: 190px;
    top: 114px;
    left: 350px;
  }
  22% {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 355px;
    left: 420px;
  }
  23% {
    width: 26px;
    height: 26px;
    border-radius: 13px;
  }
  24% {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 355px;
    left: 420px;
  }
  26% {
    top: 280px;
    left: 180px;
  }
  27% {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 250px;
    left: 100px;
  }
  32%,
  33% {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 120px;
    left: 425px;
  }
  34% {
    top: -20px;
  }
  35% {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    top: 50px;
    left: 100px;
  }
  36% {
    width: 450px;
    height: 450px;
    border-radius: 225px;
    top: 50px;
    left: 100px;
  }
  40% {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 325px;
    left: 350px;
    -webkit-transform-origin: 50% 50% 0;
    -webkit-transform: rotateZ(0deg);
  }
  42% {
    -webkit-transform: rotateZ(0deg);
    -webkit-transform-origin: 230px 55px 0;
  }
  43% {
    -webkit-transform: rotateZ(15deg);
    -webkit-transform-origin: 230px 55px 0;
  }
  44% {
    -webkit-transform: rotateZ(-10deg);
    -webkit-transform-origin: 230px 55px 0;
  }
  45% {
    top: 325px;
    left: 350px;
    -webkit-transform: rotateZ(88deg);
    -webkit-transform-origin: 230px 55px 0;
  }
  47% {
    top: 200px;
    -webkit-transform: rotateZ(44deg);
    -webkit-transform-origin: 230px 55px 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
  48% {
    top: 300px;
    left: 570px;
    -webkit-transform: rotateZ(0deg);
    -webkit-transform-origin: 230px 55px 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
  }
  52% {
    top: 115px;
    left: 240px;
    -webkit-transform-origin: 50% 50% 0;
  }
  57% {
    top: 115px;
    left: 240px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
  }
  60% {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 465px;
    left: 210px;
  }
  61% {
    top: 420px;
  }
  62% {
    top: 440px;
  }
  64% {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 370px;
    left: 290px;
  }
  66% {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    top: 50px;
    left: 50px;
  }
  67% {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    top: 160px;
    left: 500px;
  }
  68% {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    top: 145px;
    left: 500px;
  }
  71% {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    top: 150px;
    left: 430px;
  }
  72%,
  73% {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    left: 520px;
  }
  75%,
  77% {
    top: 132px;
    left: 166px;
  }
  78% {
    left: 120px;
  }
  80% {
    top: 275px;
  }
  81%,
  82% {
    top: 135px;
    opacity: 1;
  }
  83% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 135px;
    left: 120px;
    -webkit-transform: rotateZ(0deg);
    -webkit-transform-origin: 50% 50% 0;
  }
}
@-webkit-keyframes theDotTrail {
  26% {
    border-right-width: 0;
  }
  27% {
    opacity: 0;
    border-right-width: 100px;
  }
  28% {
    opacity: 1;
  }
  29%,
  33% {
    opacity: 1;
    border-right-width: 1200px;
  }
  34%,
  66% {
    opacity: 0;
  }
  67%,
  76% {
    opacity: 1;
  }
  77%,
  100% {
    opacity: 0;
    border-right-width: 1200px;
  }
}
@-webkit-keyframes clockInOut {
  0% {
    -webkit-transform: scale(40);
  }
  25%,
  95% {
    -webkit-transform: scale(1);
  }
  96%,
  100% {
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes spinningHands {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes leftLeg {
  50% {
    -webkit-transform: rotateZ(1deg);
  }
  100% {
    -webkit-transform: rotateZ(-15deg);
  }
}
@-webkit-keyframes rightLeg {
  50% {
    -webkit-transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(15deg);
  }
}
@-webkit-keyframes hide {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes show {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes showOpacity {
  to {
    opacity: 0.8;
  }
}
@-webkit-keyframes fall {
  to {
    top: 620px;
  }
}
@-webkit-keyframes climb {
  to {
    top: -620px;
  }
}
@-webkit-keyframes rotateFly {
  10% {
    top: 20px;
  }
  60% {
    -webkit-transform: rotateY(0deg);
    top: 20px;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    top: -300px;
  }
}
@-webkit-keyframes scaleIn {
  to {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes slideRight {
  to {
    left: 0;
  }
}
@-webkit-keyframes hjbMove {
  to {
    top: 305px;
    left: 100px;
  }
}
@-webkit-keyframes hjbGun {
  50%,
  62% {
    -webkit-transform: rotateZ(0deg);
  }
  63%,
  100% {
    -webkit-transform: rotateZ(5deg);
  }
}
@-webkit-keyframes slideThrough {
  to {
    left: 1080px;
  }
}
@-webkit-keyframes kickBack {
  to {
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes kickImg {
  20% {
    top: 80px;
    -webkit-transform: rotate(0deg) scale(1);
  }
  60% {
    left: 540px;
  }
  72% {
    left: 370px;
    background-position: 0 0;
    -webkit-transform-origin: 100% 100% 0;
    -webkit-animation-timing-function: steps(1, start);
  }
  73% {
    left: 370px;
    background-position: 0 -500px;
    -webkit-transform-origin: 50% 50% 0;
  }
  80% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  100% {
    top: 80px;
    left: 370px;
    background-position: 0 -500px;
    -webkit-transform: rotate(0deg) scale(0);
    -webkit-transform-origin: 50% 50% 0;
  }
}
@-webkit-keyframes stretchOpen {
  to {
    -webkit-transform: scale(1, 1);
  }
}
@-webkit-keyframes jgText {
  33% {
    top: 350px;
    -webkit-transform: rotateZ(0deg);
    -webkit-transform-origin: 250px 30px 0;
  }
  53% {
    -webkit-transform: rotateZ(0deg);
    -webkit-transform-origin: 250px 30px 0;
  }
  63% {
    -webkit-transform: rotateZ(15deg);
    -webkit-transform-origin: 250px 30px 0;
  }
  74% {
    -webkit-transform: rotateZ(-10deg);
    -webkit-transform-origin: 250px 30px 0;
  }
  83% {
    top: 350px;
    -webkit-transform: rotateZ(88deg);
    -webkit-transform-origin: 250px 30px 0;
  }
  100% {
    top: 840px;
    -webkit-transform: rotateZ(88deg);
    -webkit-transform-origin: 250px 30px 0;
  }
}
@-webkit-keyframes heartBreakLeft {
  10% {
    -webkit-transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.1);
  }
  18% {
    -webkit-transform: scale(1);
  }
  22% {
    -webkit-transform: scale(1.1);
  }
  26% {
    -webkit-transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
  }
  34% {
    -webkit-transform: scale(1);
  }
  36% {
    top: 60px;
  }
  52% {
    top: 450px;
    left: 595px;
    transform: rotateZ(0deg);
  }
  71% {
    top: 370px;
    transform: rotateZ(-60deg);
    left: 720px;
  }
  76% {
    left: 700px;
    top: 490px;
  }
  85% {
    left: 420px;
    top: 600px;
    transform: rotateZ(-15deg);
  }
  90%,
  100% {
    top: 620px;
    left: 420px;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes heartBreakRight {
  10% {
    -webkit-transform: scale(1);
    left: 595px;
  }
  11% {
    -webkit-transform: rotateZ(0deg);
  }
  14% {
    -webkit-transform: scale(1.1);
    left: 597px;
  }
  18% {
    -webkit-transform: scale(1);
  }
  22% {
    -webkit-transform: scale(1.1);
    left: 599px;
  }
  26% {
    -webkit-transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
    left: 601px;
  }
  34% {
    -webkit-transform: scale(1);
  }
  36% {
    left: 603px;
    -webkit-transform: rotateZ(4deg);
    top: 60px;
    z-index: 3;
  }
  37% {
    z-index: 0;
  }
  45% {
    left: 670px;
    -webkit-transform: rotateZ(75deg);
  }
  50% {
    top: 610px;
  }
  100% {
    -webkit-transform: scale(1) rotateZ(75deg);
    top: 610px;
    left: 670px;
    z-index: 1;
  }
}
@-webkit-keyframes slideLeft {
  to {
    left: -1080px;
  }
}
@-webkit-keyframes cpInOut {
  40% {
    top: -80%;
    left: -80%;
  }
  58% {
    top: -100%;
    left: -100%;
  }
  85% {
    top: -100%;
    left: -100%;
  }
  100% {
    top: -200%;
    left: -100%;
  }
}
@-webkit-keyframes cpIntro {
  to {
    top: 0;
    left: 0;
  }
}
@-webkit-keyframes cpImg {
  50% {
    left: 210px;
    top: -30px;
    -webkit-transform: scale(1);
  }
  70% {
    background-position: 0 0;
    -webkit-animation-timing-function: steps(1, start);
  }
  71% {
    background-position: 0 -350px;
  }
  100% {
    left: 210px;
    top: -30px;
    background-position: 0 -350px;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes bolt {
  to {
    background-position: 0 0;
  }
}
@-webkit-keyframes cpPhone {
  0%,
  20% {
    left: 60px;
    top: 200px;
    -webkit-transform: rotate(-60deg);
  }
  50%,
  60% {
    left: 160px;
    top: 50px;
    -webkit-transform: rotate(10deg);
  }
  70%,
  100% {
    left: 160px;
    top: 50px;
    -webkit-transform: rotate(-10deg);
  }
}
@-webkit-keyframes atIn {
  30%,
  100% {
    top: -440px;
  }
}
@-webkit-keyframes atOut {
  75% {
    left: 0;
    -webkit-transform: perspective(0) rotateY(0deg) scale(1);
    -webkit-transform-origin: 100% 50% 0;
  }
  100% {
    left: 250px;
    -webkit-transform: perspective(1200px) rotateY(-45deg) scale(0.4);
    -webkit-transform-origin: 100% 50% 0;
  }
}
@-webkit-keyframes atTextInOut {
  30% {
    left: 0;
  }
  75% {
    left: 0;
    -webkit-transform: perspective(0) rotateY(0deg) scale(1);
    -webkit-transform-origin: 100% 50% 0;
  }
  100% {
    left: 250px;
    -webkit-transform: perspective(1200px) rotateY(-45deg) scale(0.4);
    -webkit-transform-origin: 100% 50% 0;
  }
}
@-webkit-keyframes atTextSlide {
  30% {
    bottom: 30px;
    left: 150px;
    font-size: 70px;
  }
  75%,
  100% {
    bottom: 50px;
    left: 210px;
    font-size: 95px;
  }
}
@-webkit-keyframes atImgIn {
  to {
    left: 410px;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes atGunUp {
  to {
    background-position: 0 0;
  }
}
@-webkit-keyframes jwInOut {
  40%,
  100% {
    left: 0;
  }
}
@-webkit-keyframes jwMainInOut {
  20% {
    -webkit-transform: scale(1);
  }
  80% {
    margin-top: 35px;
  }
  100% {
    -webkit-transform: scale(1);
    margin-top: -550px;
  }
}
@-webkit-keyframes jwGlass {
  to {
    bottom: 40px;
    left: 170px;
    transform: rotate(-30deg);
  }
}
@-webkit-keyframes splash {
  to {
    background-position: 0 -500px;
  }
}
@-webkit-keyframes jwTextTopIn {
  25%,
  100% {
    top: 0;
  }
}
@-webkit-keyframes jwTextBottomIn {
  25%,
  100% {
    top: 90px;
  }
}
@-webkit-keyframes jwTextOut {
  85% {
    top: 60px;
  }
  100% {
    top: -300px;
  }
}
@-webkit-keyframes cannonballRun {
  to {
    background-position: 0 -1650px;
  }
}
@-webkit-keyframes cannonball {
  1% {
    opacity: 0.8;
  }
  30% {
    left: 120px;
    -webkit-transform: scale(0.2);
  }
  97% {
    top: 170px;
  }
  98% {
    opacity: 0.8;
  }
  99%,
  100% {
    opacity: 0;
    top: 170px;
    left: 120px;
    -webkit-transform: scale(0.2);
  }
}
@-webkit-keyframes arBoxesIn {
  to {
    margin-top: 95px;
  }
}
@-webkit-keyframes arImgInOut {
  8% {
    height: 400px;
  }
  82% {
    top: 130px;
    background-position: 0 0;
    -webkit-animation-timing-function: steps(1, start);
  }
  83% {
    top: 130px;
    background-position: 0 -400px;
  }
  92%,
  100% {
    top: 620px;
    height: 400px;
    background-position: 0 -400px;
  }
}
@-webkit-keyframes arBoxOne {
  49% {
    background-color: #f23d00;
  }
  50%,
  100% {
    background-color: #65d71f;
    background-position: -1940px 0;
  }
}
@-webkit-keyframes arBoxTwo {
  49% {
    background-color: #f23d00;
  }
  50%,
  100% {
    background-color: #65d71f;
    background-position: right 0;
  }
}
@-webkit-keyframes arBoxesOut {
  0% {
    background-color: #65d71f;
  }
  35% {
    margin-top: -75px;
  }
  100% {
    background-color: #65d71f;
    margin-top: 550px;
  }
}
@-webkit-keyframes arLetterIn {
  to {
    margin-top: 0;
  }
}
@-webkit-keyframes arLetterOut {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 250px;
  }
}
@keyframes theDot {
  18% {
    opacity: 0;
  }
  19% {
    opacity: 1;
    width: 380px;
    height: 380px;
    border-radius: 190px;
    top: 114px;
    left: 350px;
  }
  22% {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 355px;
    left: 420px;
  }
  23% {
    width: 26px;
    height: 26px;
    border-radius: 13px;
  }
  24% {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 355px;
    left: 420px;
  }
  26% {
    top: 280px;
    left: 180px;
  }
  27% {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 250px;
    left: 100px;
  }
  32%,
  33% {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 120px;
    left: 425px;
  }
  34% {
    top: -20px;
  }
  35% {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    top: 50px;
    left: 100px;
  }
  36% {
    width: 450px;
    height: 450px;
    border-radius: 225px;
    top: 50px;
    left: 100px;
  }
  40% {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 325px;
    left: 350px;
    transform-origin: 50% 50% 0;
    transform: rotateZ(0deg);
  }
  42% {
    transform: rotateZ(0deg);
    transform-origin: 230px 55px 0;
  }
  43% {
    transform: rotateZ(15deg);
    transform-origin: 230px 55px 0;
  }
  44% {
    transform: rotateZ(-10deg);
    transform-origin: 230px 55px 0;
  }
  45% {
    top: 325px;
    left: 350px;
    transform: rotateZ(88deg);
    transform-origin: 230px 55px 0;
  }
  47% {
    top: 200px;
    transform: rotateZ(44deg);
    transform-origin: 230px 55px 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
  48% {
    top: 300px;
    left: 570px;
    transform: rotateZ(0deg);
    transform-origin: 230px 55px 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
  }
  52% {
    top: 115px;
    left: 240px;
    transform-origin: 50% 50% 0;
  }
  57% {
    top: 115px;
    left: 240px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
  }
  60% {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 465px;
    left: 210px;
  }
  61% {
    top: 420px;
  }
  62% {
    top: 440px;
  }
  64% {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 370px;
    left: 290px;
  }
  66% {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    top: 50px;
    left: 50px;
  }
  67% {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    top: 160px;
    left: 500px;
  }
  68% {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    top: 145px;
    left: 500px;
  }
  71% {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    top: 150px;
    left: 430px;
  }
  72%,
  73% {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    left: 520px;
  }
  75%,
  77% {
    top: 132px;
    left: 166px;
  }
  78% {
    left: 120px;
  }
  80% {
    top: 275px;
  }
  81%,
  82% {
    top: 135px;
    opacity: 1;
  }
  83% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 135px;
    left: 120px;
    transform: rotateZ(0deg);
    transform-origin: 50% 50% 0;
  }
}
@keyframes theDotTrail {
  26% {
    border-right-width: 0;
  }
  27% {
    opacity: 0;
    border-right-width: 100px;
  }
  28% {
    opacity: 1;
  }
  29%,
  33% {
    opacity: 1;
    border-right-width: 1200px;
  }
  34%,
  66% {
    opacity: 0;
  }
  67%,
  76% {
    opacity: 1;
  }
  77%,
  100% {
    opacity: 0;
    border-right-width: 1200px;
  }
}
@keyframes clockInOut {
  0% {
    transform: scale(40);
  }
  25%,
  95% {
    transform: scale(1);
  }
  96%,
  100% {
    transform: scale(0);
  }
}
@keyframes spinningHands {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes leftLeg {
  50% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(-15deg);
  }
}
@keyframes rightLeg {
  50% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(15deg);
  }
}
@keyframes hide {
  to {
    opacity: 0;
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}
@keyframes showOpacity {
  to {
    opacity: 0.8;
  }
}
@keyframes fall {
  to {
    top: 620px;
  }
}
@keyframes climb {
  to {
    top: -620px;
  }
}
@keyframes rotateFly {
  10% {
    top: 20px;
  }
  60% {
    transform: rotateY(0deg);
    top: 20px;
  }
  100% {
    transform: rotateY(0deg);
    top: -300px;
  }
}
@keyframes scaleIn {
  to {
    transform: scale(1);
  }
}
@keyframes slideRight {
  to {
    left: 0;
  }
}
@keyframes hjbMove {
  to {
    top: 305px;
    left: 100px;
  }
}
@keyframes hjbGun {
  50%,
  62% {
    transform: rotateZ(0deg);
  }
  63%,
  100% {
    transform: rotateZ(5deg);
  }
}
@keyframes slideThrough {
  to {
    left: 1080px;
  }
}
@keyframes kickBack {
  to {
    transform: scale(0);
  }
}
@keyframes kickImg {
  20% {
    top: 80px;
    transform: rotate(0deg) scale(1);
  }
  60% {
    left: 540px;
  }
  72% {
    left: 370px;
    background-position: 0 0;
    transform-origin: 100% 100% 0;
    animation-timing-function: steps(1, start);
  }
  73% {
    left: 370px;
    background-position: 0 -500px;
    transform-origin: 50% 50% 0;
  }
  80% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    top: 80px;
    left: 370px;
    background-position: 0 -500px;
    transform: rotate(0deg) scale(0);
    transform-origin: 50% 50% 0;
  }
}
@keyframes stretchOpen {
  to {
    transform: scale(1, 1);
  }
}
@keyframes jgText {
  33% {
    top: 350px;
    transform: rotateZ(0deg);
    transform-origin: 250px 30px 0;
  }
  53% {
    transform: rotateZ(0deg);
    transform-origin: 250px 30px 0;
  }
  63% {
    transform: rotateZ(15deg);
    transform-origin: 250px 30px 0;
  }
  74% {
    transform: rotateZ(-10deg);
    transform-origin: 250px 30px 0;
  }
  83% {
    top: 350px;
    transform: rotateZ(88deg);
    transform-origin: 250px 30px 0;
  }
  100% {
    top: 840px;
    transform: rotateZ(88deg);
    transform-origin: 250px 30px 0;
  }
}
@keyframes heartBreakLeft {
  10% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.1);
  }
  18% {
    transform: scale(1);
  }
  22% {
    transform: scale(1.1);
  }
  26% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  34% {
    transform: scale(1);
  }
  36% {
    top: 60px;
  }
  52% {
    top: 450px;
    left: 595px;
    transform: rotateZ(0deg);
  }
  71% {
    top: 370px;
    transform: rotateZ(-60deg);
    left: 720px;
  }
  76% {
    left: 700px;
    top: 490px;
  }
  85% {
    left: 420px;
    top: 600px;
    transform: rotateZ(-15deg);
  }
  90%,
  100% {
    top: 620px;
    left: 420px;
    transform: scale(1);
  }
}
@keyframes heartBreakRight {
  10% {
    transform: scale(1);
    left: 595px;
  }
  11% {
    transform: rotateZ(0deg);
  }
  14% {
    transform: scale(1.1);
    left: 597px;
  }
  18% {
    transform: scale(1);
  }
  22% {
    transform: scale(1.1);
    left: 599px;
  }
  26% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
    left: 601px;
  }
  34% {
    transform: scale(1);
  }
  36% {
    left: 603px;
    transform: rotateZ(4deg);
    top: 60px;
    z-index: 3;
  }
  37% {
    z-index: 0;
  }
  45% {
    left: 670px;
    transform: rotateZ(75deg);
  }
  50% {
    top: 610px;
  }
  100% {
    transform: scale(1) rotateZ(75deg);
    top: 610px;
    left: 670px;
    z-index: 1;
  }
}
@keyframes slideLeft {
  to {
    left: -1080px;
  }
}
@keyframes cpInOut {
  40% {
    top: -80%;
    left: -80%;
  }
  58% {
    top: -100%;
    left: -100%;
  }
  85% {
    top: -100%;
    left: -100%;
  }
  100% {
    top: -200%;
    left: -100%;
  }
}
@keyframes cpIntro {
  to {
    top: 0;
    left: 0;
  }
}
@keyframes cpImg {
  50% {
    left: 210px;
    top: -30px;
    transform: scale(1);
  }
  70% {
    background-position: 0 0;
    animation-timing-function: steps(1, start);
  }
  71% {
    background-position: 0 -350px;
  }
  100% {
    left: 210px;
    top: -30px;
    background-position: 0 -350px;
    transform: scale(1);
  }
}
@keyframes bolt {
  to {
    background-position: 0 0;
  }
}
@keyframes cpPhone {
  0%,
  20% {
    left: 60px;
    top: 200px;
    transform: rotate(-60deg);
  }
  50%,
  60% {
    left: 160px;
    top: 50px;
    transform: rotate(10deg);
  }
  70%,
  100% {
    left: 160px;
    top: 50px;
    transform: rotate(-10deg);
  }
}
@keyframes atIn {
  30%,
  100% {
    top: -440px;
  }
}
@keyframes atOut {
  75% {
    left: 0;
    transform: perspective(0) rotateY(0deg) scale(1);
    transform-origin: 100% 50% 0;
  }
  100% {
    left: 250px;
    transform: perspective(1200px) rotateY(-45deg) scale(0.4);
    transform-origin: 100% 50% 0;
  }
}
@keyframes atTextInOut {
  30% {
    left: 0;
  }
  75% {
    left: 0;
    transform: perspective(0) rotateY(0deg) scale(1);
    transform-origin: 100% 50% 0;
  }
  100% {
    left: 250px;
    transform: perspective(1200px) rotateY(-45deg) scale(0.4);
    transform-origin: 100% 50% 0;
  }
}
@keyframes atTextSlide {
  30% {
    bottom: 30px;
    left: 150px;
    font-size: 70px;
  }
  75%,
  100% {
    bottom: 50px;
    left: 210px;
    font-size: 95px;
  }
}
@keyframes atImgIn {
  to {
    left: 410px;
    transform: scale(1);
  }
}
@keyframes atGunUp {
  to {
    background-position: 0 0;
  }
}
@keyframes jwInOut {
  40%,
  100% {
    left: 0;
  }
}
@keyframes jwMainInOut {
  20% {
    transform: scale(1);
  }
  80% {
    margin-top: 35px;
  }
  100% {
    transform: scale(1);
    margin-top: -550px;
  }
}
@keyframes jwGlass {
  to {
    bottom: 40px;
    left: 170px;
    transform: rotate(-30deg);
  }
}
@keyframes splash {
  to {
    background-position: 0 -500px;
  }
}
@keyframes jwTextTopIn {
  25%,
  100% {
    top: 0;
  }
}
@keyframes jwTextBottomIn {
  25%,
  100% {
    top: 90px;
  }
}
@keyframes jwTextOut {
  85% {
    top: 60px;
  }
  100% {
    top: -300px;
  }
}
@keyframes cannonballRun {
  to {
    background-position: 0 -1650px;
  }
}
@keyframes cannonball {
  1% {
    opacity: 0.8;
  }
  30% {
    left: 120px;
    transform: scale(0.2);
  }
  97% {
    top: 170px;
  }
  98% {
    opacity: 0.8;
  }
  99%,
  100% {
    opacity: 0;
    top: 170px;
    left: 120px;
    transform: scale(0.2);
  }
}
@keyframes arBoxesIn {
  to {
    margin-top: 95px;
  }
}
@keyframes arImgInOut {
  8% {
    height: 400px;
  }
  82% {
    top: 130px;
    background-position: 0 0;
    animation-timing-function: steps(1, start);
  }
  83% {
    top: 130px;
    background-position: 0 -400px;
  }
  92%,
  100% {
    top: 620px;
    height: 400px;
    background-position: 0 -400px;
  }
}
@keyframes arBoxOne {
  49% {
    background-color: #f23d00;
  }
  50%,
  100% {
    background-color: #65d71f;
    background-position: -1940px 0;
  }
}
@keyframes arBoxTwo {
  49% {
    background-color: #f23d00;
  }
  50%,
  100% {
    background-color: #65d71f;
    background-position: right 0;
  }
}
@keyframes arBoxesOut {
  0% {
    background-color: #65d71f;
  }
  35% {
    margin-top: -75px;
  }
  100% {
    background-color: #65d71f;
    margin-top: 550px;
  }
}
@keyframes arLetterIn {
  to {
    margin-top: 0;
  }
}
@keyframes arLetterOut {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 250px;
  }
}
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "Baveuse";
  src: url("Baveuse.eot?") format("eot"), url("Baveuse.woff") format("woff"), url("Baveuse.ttf") format("truetype"), url("Baveuse.svg#Baveuse") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #666;
  font-family: "Baveuse";
  font-size: 50px;
  line-height: 1;
  letter-spacing: 2;
  color: #ffffff;
}
.play {
  margin: 10px;
}
.play-btn,
.stop-btn {
  display: inline-block;
  border-radius: 5px;
  color: #000000;
  font-size: 20px;
  margin: 0 10px;
  padding: 12px 22px;
  text-decoration: none;
  background: #f6b200;
}
.play-btn:hover,
.stop-btn:hover {
  background: #f48a00;
}
.wrap {
  width: 1080px;
  height: 608px;
  margin: 0 auto;
  position: relative;
}
.wrap div[class^="scene"] {
  width: 1080px;
  height: 608px;
  position: absolute;
  top: 0;
  left: 0;
}
.main {
  width: 1080px;
  height: 608px;
  position: relative;
  background: #000000;
  overflow: hidden;
}
.dot {
  width: 380px;
  height: 380px;
  border-radius: 190px;
  background: #ffffff;
  position: absolute;
  top: 114px;
  left: 350px;
  opacity: 0;
  z-index: 10;
}
.trail {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  border-right: 0 solid #000000;
  background: #000000;
}
.trail .radius {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: -50%;
  z-index: 1;
  background: #ffffff;
}
.start .dot {
  -webkit-animation: theDot linear 30s 0s forwards;
  animation: theDot linear 30s 0s forwards;
}
.start .trail {
  -webkit-animation: theDotTrail linear 30s 0s forwards;
  animation: theDotTrail linear 30s 0s forwards;
}
.left-leg,
.right-leg {
  width: 285px;
  height: 560px;
  position: absolute;
}
.left-leg {
  top: 15px;
  left: 30px;
  background: #9abb34;
}
.start .left-leg {
  -webkit-animation: climb 1s 5.5s forwards;
  animation: climb 1s 5.5s forwards;
}
.right-leg {
  top: 15px;
  right: 30px;
  background: #f6b200;
}
.start .right-leg {
  -webkit-animation: climb 1s 5.5s forwards;
  animation: climb 1s 5.5s forwards;
}
.clock {
  width: 380px;
  height: 380px;
  border-radius: 190px;
  background: #ffffff;
  position: absolute;
  top: 114px;
  left: 350px;
  z-index: 1;
  -webkit-transform: scale(40);
  transform: scale(40);
}
.start .clock {
  -webkit-animation: clockInOut ease-in 6s forwards;
  animation: clockInOut ease-in 6s forwards;
}
.clock-center {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #000000;
  position: absolute;
  top: 170px;
  left: 170px;
}
.start .clock-hands {
  -webkit-animation: hide 0.2s 4.5s forwards;
  animation: hide 0.2s 4.5s forwards;
}
.small-hand-container,
.big-hand-container {
  width: 380px;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
}
.start .small-hand-container {
  -webkit-animation: spinningHands 4s forwards;
  animation: spinningHands 4s forwards;
}
.start .big-hand-container {
  -webkit-animation: spinningHands 0.2s 0s 20 forwards;
  animation: spinningHands 0.2s 0s 20 forwards;
}
.small-hand {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 100px 10px;
  border-color: transparent transparent #000000 transparent;
  position: absolute;
  top: 80px;
  left: 180px;
}
.big-hand {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 170px 10px;
  border-color: transparent transparent #000000 transparent;
  position: absolute;
  top: 10px;
  left: 180px;
}
div[class^="num"] {
  font-size: 45px;
  color: #000000;
  position: absolute;
}
.num-1 {
  top: 30px;
  left: 260px;
}
.start .num-1 {
  -webkit-animation: fall 1s 4.3s forwards;
  animation: fall 1s 4.3s forwards;
}
.num-2 {
  top: 90px;
  left: 310px;
}
.start .num-2 {
  -webkit-animation: fall 1s 4s forwards;
  animation: fall 1s 4s forwards;
}
.num-3 {
  top: 170px;
  left: 340px;
}
.start .num-3 {
  -webkit-animation: fall 1s 4s forwards;
  animation: fall 1s 4s forwards;
}
.num-4 {
  top: 250px;
  left: 310px;
}
.start .num-4 {
  -webkit-animation: fall 1s 4s forwards;
  animation: fall 1s 4s forwards;
}
.num-5 {
  top: 300px;
  left: 250px;
}
.start .num-5 {
  -webkit-animation: fall 1s 4s forwards;
  animation: fall 1s 4s forwards;
}
.num-6 {
  top: 330px;
  left: 175px;
}
.start .num-6 {
  -webkit-animation: fall 1s 4s forwards;
  animation: fall 1s 4s forwards;
}
.num-7 {
  top: 300px;
  left: 100px;
}
.start .num-7 {
  -webkit-animation: fall 1s 4s forwards;
  animation: fall 1s 4s forwards;
}
.num-8 {
  top: 250px;
  left: 40px;
}
.start .num-8 {
  -webkit-animation: fall 1s 4.2s forwards;
  animation: fall 1s 4.2s forwards;
}
.num-9 {
  top: 170px;
  left: 10px;
}
.start .num-9 {
  -webkit-animation: fall 1s 4s forwards;
  animation: fall 1s 4s forwards;
}
.num-10 {
  top: 90px;
  left: 30px;
}
.start .num-10 {
  -webkit-animation: fall 1s 4s forwards;
  animation: fall 1s 4s forwards;
}
.num-11 {
  top: 30px;
  left: 100px;
}
.start .num-11 {
  -webkit-animation: fall 1s 4.2s forwards;
  animation: fall 1s 4.2s forwards;
}
.num-12 {
  top: 10px;
  left: 170px;
}
.start .num-12 {
  -webkit-animation: fall 1s 4s forwards;
  animation: fall 1s 4s forwards;
}
.jet-img {
  position: absolute;
  top: 10px;
  left: 115px;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.start .jet-img {
  -webkit-animation: rotateFly 1s 4.5s forwards;
  animation: rotateFly 1s 4.5s forwards;
}
.left-leg-img {
  position: absolute;
  top: -50px;
  left: 70px;
  opacity: 0.8;
  z-index: 1;
  -webkit-transform-origin: 50% -100% 0;
  transform-origin: 50% -100% 0;
  -webkit-transform: rotateZ(-15deg);
  transform: rotateZ(-15deg);
}
.start .left-leg-img {
  -webkit-animation: leftLeg 1s 0.5s 5, hide 0.1s 5.5s forwards;
  animation: leftLeg 1s 0.5s 5, hide 0.1s 5.5s forwards;
}
.right-leg-img {
  position: absolute;
  top: -40px;
  left: 670px;
  opacity: 0.8;
  z-index: 1;
  -webkit-transform-origin: 50% -100% 0;
  transform-origin: 50% -100% 0;
  -webkit-transform: rotateZ(15deg);
  transform: rotateZ(15deg);
}
.start .right-leg-img {
  -webkit-animation: rightLeg 1s 0.5s 5, hide 0.1s 5.5s forwards;
  animation: rightLeg 1s 0.5s 5, hide 0.1s 5.5s forwards;
}
.container-scene-2 {
  width: 5220px;
  height: 608px;
  position: absolute;
  top: 0;
  left: -4140px;
}
.start .container-scene-2 {
  -webkit-animation: slideRight linear 2s 8s forwards;
  animation: slideRight linear 2s 8s forwards;
}
.hjb-blue-boxes {
  width: 1080px;
  height: 608px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.hjb-blue-boxes div[class^="hjb-blue"] {
  background: #2e43ff;
  position: absolute;
}
.start .hjb-blue-boxes {
  -webkit-animation: scaleIn linear 1s 5.5s forwards;
  animation: scaleIn linear 1s 5.5s forwards;
}
.hjb-text {
  position: absolute;
  top: 380px;
  left: 340px;
  z-index: 2;
}
.start .hjb-text {
  -webkit-animation: hjbMove linear 0.6s 7.2s forwards;
  animation: hjbMove linear 0.6s 7.2s forwards;
}
.hjb-gun-img {
  position: absolute;
  top: 60px;
  left: 250px;
  z-index: 1;
  opacity: 0.8;
  -webkit-transform-origin: 100% 100% 0;
  transform-origin: 100% 100% 0;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}
.start .hjb-gun-img {
  -webkit-animation: hjbGun linear 2s 6.7s forwards;
  animation: hjbGun linear 2s 6.7s forwards;
}
.hjb-gun-blast {
  position: absolute;
  top: 180px;
  left: 90px;
  z-index: 1;
  opacity: 0;
}
.start .hjb-gun-blast {
  -webkit-animation: showOpacity 0.2s 7.9s alternate;
  animation: showOpacity 0.2s 7.9s alternate;
}
.hjb-blue-1 {
  width: 430px;
  height: 210px;
  top: 120px;
  left: 30px;
}
.hjb-blue-2 {
  width: 430px;
  height: 125px;
  top: 440px;
  left: 30px;
}
.hjb-blue-3 {
  width: 500px;
  height: 300px;
  top: 75px;
  left: 510px;
}
.hjb-blue-4 {
  width: 500px;
  height: 30px;
  top: 435px;
  left: 510px;
}
.hjb-blue-5 {
  width: 500px;
  height: 30px;
  top: 485px;
  left: 510px;
}
.hjb-blue-6 {
  width: 500px;
  height: 30px;
  top: 535px;
  left: 510px;
}
.bars {
  width: 3060px;
  height: 500px;
  position: absolute;
  top: 60px;
  left: 1080px;
}
.bars div[class^="bar-"] {
  width: 150px;
  height: 500px;
  float: right;
  margin-left: 30px;
}
.bars-group-1 div {
  background: #742689;
}
.bars-group-2 div {
  background: #8f215d;
}
.bars-group-3 div {
  background: #6deac9;
}
.high-kick {
  width: 1080px;
  height: 608px;
  position: absolute;
  top: 0;
  left: 0;
}
.start .high-kick {
  -webkit-animation: kickBack linear 0.5s 10s forwards;
  animation: kickBack linear 0.5s 10s forwards;
}
.high-kick-box {
  width: 1000px;
  height: 470px;
  margin: 80px auto 0;
  background: #2e43ff;
}
.kick-img {
  width: 396px;
  height: 500px;
  position: absolute;
  top: 110px;
  left: 540px;
  opacity: 0.8;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../imgs/high-kick.png);
  -webkit-transform-origin: 100% 100% 0;
  transform-origin: 100% 100% 0;
  -webkit-transform: rotate(-90deg) scale(1);
  transform: rotate(-90deg) scale(1);
}
.start .kick-img {
  -webkit-animation: kickImg linear 2s 8.5s forwards;
  animation: kickImg linear 2s 8.5s forwards;
}
.start .scene-3 {
  -webkit-animation: slideLeft linear 1.5s 13.5s forwards;
  animation: slideLeft linear 1.5s 13.5s forwards;
}
.jg-text {
  position: absolute;
  top: 620px;
  left: 332px;
  font-size: 60px;
  z-index: 1;
}
.start .jg-text {
  -webkit-animation: jgText linear 3s 11s forwards;
  animation: jgText linear 3s 11s forwards;
}
.jg-box {
  width: 250px;
  height: 500px;
  float: left;
  margin: 60px 0 0 230px;
  position: relative;
  overflow: hidden;
  background: #f447ff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
.start .jg-box {
  -webkit-animation: stretchOpen linear 1s 11s forwards;
  animation: stretchOpen linear 1s 11s forwards;
}
.jg-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}
div[class^="bead"] {
  position: absolute;
  z-index: 1;
  background: #f447ff;
}
.bead-1 {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  top: 244px;
  left: 64px;
}
.start .bead-1 {
  -webkit-animation: fall 0.5s 13s forwards;
  animation: fall 0.5s 13s forwards;
}
.bead-2 {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  top: 252px;
  left: 72px;
}
.start .bead-2 {
  -webkit-animation: fall 0.5s 13.1s forwards;
  animation: fall 0.5s 13.1s forwards;
}
.bead-3 {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  top: 260px;
  left: 84px;
}
.start .bead-3 {
  -webkit-animation: fall 0.5s 13s forwards;
  animation: fall 0.5s 13s forwards;
}
.bead-4 {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  top: 265px;
  left: 100px;
}
.start .bead-4 {
  -webkit-animation: fall 0.5s 13.1s forwards;
  animation: fall 0.5s 13.1s forwards;
}
.bead-5 {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  top: 265px;
  left: 143px;
}
.start .bead-5 {
  -webkit-animation: fall 0.5s 13s forwards;
  animation: fall 0.5s 13s forwards;
}
.bead-6 {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  top: 260px;
  left: 160px;
}
.start .bead-6 {
  -webkit-animation: fall 0.5s 13.1s forwards;
  animation: fall 0.5s 13.1s forwards;
}
.bead-7 {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  top: 252px;
  left: 173px;
}
.start .bead-7 {
  -webkit-animation: fall 0.5s 13s forwards;
  animation: fall 0.5s 13s forwards;
}
.bead-8 {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  top: 244px;
  left: 184px;
}
.start .bead-8 {
  -webkit-animation: fall 0.5s 13.1s forwards;
  animation: fall 0.5s 13.1s forwards;
}
.heart {
  width: 246px;
  height: 260px;
  position: absolute;
  top: 60px;
  left: 595px;
  -webkit-transform: scale(0);
  transform: scale(0);
  background: url(../imgs/heart.png);
}
.heart.heart-left {
  background-position: top left;
  z-index: 2;
}
.start .heart.heart-left {
  -webkit-animation: heartBreakLeft linear 2s 11.8s forwards;
  animation: heartBreakLeft linear 2s 11.8s forwards;
}
.heart.heart-right {
  background-position: bottom left;
  z-index: 3;
}
.start .heart.heart-right {
  -webkit-animation: heartBreakRight linear 2s 11.8s forwards;
  animation: heartBreakRight linear 2s 11.8s forwards;
}
.container-scene-4 {
  width: 2160px;
  height: 1216px;
  position: absolute;
  top: 912px;
  left: 1620px;
}
.start .container-scene-4 {
  -webkit-animation: cpInOut linear 4.5s 13s forwards;
  animation: cpInOut linear 4.5s 13s forwards;
}
.cp-intro {
  width: 1080px;
  height: 608px;
  position: absolute;
  top: 180px;
  left: 250px;
}
.cp-intro .cp-left {
  width: 460px;
  float: left;
  margin-left: 100px;
}
.cp-intro .cp-left div {
  float: left;
  background: #5efbaf;
}
.cp-intro .cp-right {
  width: 310px;
  float: left;
  margin-left: 30px;
}
.cp-intro .cp-right div {
  float: left;
  background: #ebbf07;
}
.start .cp-intro {
  -webkit-animation: cpIntro linear 2.5s 15.5s forwards;
  animation: cpIntro linear 2.5s 15.5s forwards;
}
.cp-box-1 {
  width: 110px;
  height: 210px;
  margin-top: 305px;
}
.cp-box-1:before {
  content: "";
  width: 20px;
  height: 15px;
  display: block;
  float: left;
  margin-top: -15px;
  margin-left: 10px;
  background: #5efbaf;
}
.cp-box-1:after {
  content: "";
  width: 35px;
  height: 25px;
  display: block;
  float: right;
  margin-top: -25px;
  margin-right: 15px;
  background: #5efbaf;
}
.cp-box-2 {
  width: 190px;
  height: 420px;
  margin-top: 100px;
  margin-left: 30px;
}
.cp-box-2:before {
  content: "";
  width: 50px;
  height: 0;
  display: block;
  float: right;
  margin-top: -20px;
  border-top: 20px solid #5efbaf;
  border-left: 3px solid transparent;
}
.cp-box-3 {
  width: 110px;
  height: 275px;
  margin-top: 245px;
  margin-left: 20px;
}
.cp-box-3:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  float: left;
  margin-top: -25px;
  border-bottom: 25px solid #5efbaf;
  border-right: 50px solid transparent;
}
.cp-box-4 {
  width: 310px;
  height: 140px;
  margin-top: 155px;
}
.cp-box-4:before {
  content: "";
  width: 50px;
  height: 10px;
  display: block;
  float: left;
  margin-top: -10px;
  margin-left: 145px;
  background: #ebbf07;
}
.cp-box-4:after {
  content: "";
  width: 45px;
  height: 20px;
  display: block;
  float: right;
  margin-top: -20px;
  margin-right: 20px;
  background: #ebbf07;
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}
.cp-box-5 {
  width: 310px;
  height: 125px;
  margin-top: 30px;
}
.cp-box-6 {
  width: 310px;
  height: 35px;
  margin-top: 25px;
}
.cp-main {
  width: 1080px;
  height: 608px;
  position: absolute;
  top: 608px;
  left: 1080px;
}
.cp-img {
  width: 434px;
  height: 350px;
  display: block;
  background: url(../imgs/cp-img.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 100px;
  top: 5px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.start .cp-img {
  -webkit-animation: cpImg linear 3s 14.5s forwards;
  animation: cpImg linear 3s 14.5s forwards;
}
.cp-phone {
  position: absolute;
  left: 60px;
  top: 200px;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.start .cp-phone {
  -webkit-animation: cpPhone linear 3s 14.5s forwards;
  animation: cpPhone linear 3s 14.5s forwards;
}
.cp-text {
  font-size: 64px;
  line-height: 1.2;
  position: absolute;
  top: 135px;
  left: 75px;
}
.cp-box {
  width: 760px;
  height: 285px;
  margin: 225px auto 0;
  position: relative;
  overflow: hidden;
  background: #5cfa4b;
}
.cp-bolt {
  width: 500px;
  height: 40px;
  background-image: url(../imgs/bolt.png);
  background-position: 0 -80px;
  position: absolute;
  top: -16px;
  left: -241px;
  opacity: 0;
}
.start .cp-bolt {
  -webkit-animation: show 0.3s 15.5s 4, bolt steps(2) 0.3s 15.5s 4 alternate;
  animation: show 0.3s 15.5s 4, bolt steps(2) 0.3s 15.5s 4 alternate;
}
.cp-flash {
  width: 26px;
  height: 26px;
  border-radius: 16px;
  border: 2px solid #ffffff;
  position: absolute;
  top: -7px;
  left: -7px;
  opacity: 0;
}
.cp-flash:before {
  content: "";
  width: 10px;
  height: 5px;
  display: block;
  position: absolute;
  top: -3px;
  left: 8px;
  background: #000000;
}
.cp-flash:after {
  content: "";
  width: 10px;
  height: 5px;
  display: block;
  position: absolute;
  top: 24px;
  left: 8px;
  background: #000000;
}
.start .cp-flash {
  -webkit-animation: show 0.3s 15s 4;
  animation: show 0.3s 15s 4;
}
.container-scene-5 {
  width: 1080px;
  height: 1048px;
  position: absolute;
  top: 608px;
  left: 0;
}
.start .container-scene-5 {
  -webkit-animation: atIn linear 3s 17s forwards;
  animation: atIn linear 3s 17s forwards;
}
.at-intro {
  width: 1080px;
  height: 440px;
}
.at-intro div {
  float: left;
  background: #ebec00;
}
.archer-hands-up-img {
  position: absolute;
  top: 40px;
  left: 410px;
  opacity: 0.8;
}
.start .archer-hands-up-img {
  -webkit-animation: slideLeft linear 4s 17.1s forwards;
  animation: slideLeft linear 4s 17.1s forwards;
}
.at-box-1 {
  width: 140px;
  height: 430px;
  margin-top: 10px;
  margin-left: 90px;
}
.at-box-2 {
  width: 70px;
  height: 435px;
  margin-top: 5px;
  margin-left: 70px;
}
.at-box-3 {
  width: 600px;
  height: 440px;
  margin-left: 30px;
}
.at-main {
  width: 1080px;
  height: 608px;
  position: relative;
  left: 0;
  -webkit-transform: perspective(0) rotateY(0deg) scale(1);
  transform: perspective(0) rotateY(0deg) scale(1);
  -webkit-transform-origin: 100% 50% 0;
  transform-origin: 100% 50% 0;
}
.at-main div[class^="at-box"] {
  height: 440px;
  margin-top: 60px;
  float: left;
  background: #f03926;
}
.start .at-main {
  -webkit-animation: atOut linear 3s 17s forwards;
  animation: atOut linear 3s 17s forwards;
}
.container-at-text {
  width: 1080px;
  height: 608px;
  position: absolute;
  top: 0;
  left: -750px;
  z-index: 1;
}
.start .container-at-text {
  -webkit-animation: atTextInOut linear 3s 17s forwards;
  animation: atTextInOut linear 3s 17s forwards;
}
.at-text {
  position: absolute;
  bottom: 30px;
  left: 150px;
  font-size: 70px;
}
.start .at-text {
  -webkit-animation: atTextSlide linear 3s 17s forwards;
  animation: atTextSlide linear 3s 17s forwards;
}
.at-box-4 {
  width: 130px;
  margin-left: 295px;
}
.at-box-5 {
  width: 200px;
  margin-left: 20px;
}
.at-box-6 {
  width: 340px;
  margin-left: 15px;
}
.at-gun {
  width: 538px;
  height: 650px;
  background: url(../imgs/at-gun-up.png) no-repeat;
  background-position: 0 -1950px;
  position: absolute;
  top: 70px;
  left: 560px;
  opacity: 0.8;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.start .at-gun {
  -webkit-animation: atImgIn linear 1.5s 17s forwards, atGunUp steps(3) 0.3s 18.5s forwards;
  animation: atImgIn linear 1.5s 17s forwards, atGunUp steps(3) 0.3s 18.5s forwards;
}
.at-gun-blast {
  width: 318px;
  height: 308px;
  background: url(../imgs/at-gun-blast.png);
  position: absolute;
  top: 155px;
  left: -185px;
  opacity: 0;
}
.start .at-gun-blast {
  -webkit-animation: showOpacity 0.2s 19.2s forwards, hide 0.2s 19.5s forwards;
  animation: showOpacity 0.2s 19.2s forwards, hide 0.2s 19.5s forwards;
}
.container-scene-6 {
  width: 3000px;
  height: 608px;
  position: absolute;
  top: 0;
  left: -3000px;
}
.start .container-scene-6 {
  -webkit-animation: jwInOut linear 4s 20s forwards;
  animation: jwInOut linear 4s 20s forwards;
}
.jw-intro {
  width: 1920px;
  height: 608px;
  float: right;
}
div[class^="boxes-group"] {
  width: 600px;
  height: 608px;
  float: right;
  margin-left: 40px;
}
div[class^="boxes-group"] div[class^="jw-box"] {
  width: 600px;
}
div[class^="boxes-group"] div[class^="jw-box"]:first-child {
  height: 75px;
  margin-top: 50px;
}
div[class^="boxes-group"] div[class^="jw-box"]:nth-child(2) {
  height: 165px;
  margin-top: 30px;
}
div[class^="boxes-group"] div[class^="jw-box"]:last-child {
  height: 200px;
  margin-top: 30px;
}
.boxes-group-1 div {
  background: #6fefff;
}
.boxes-group-2 div {
  background: #3135e6;
}
.boxes-group-3 div {
  background: #5330e1;
}
.jw-main {
  width: 1080px;
  height: 608px;
  float: left;
}
.jw-img {
  position: absolute;
  left: -10px;
  bottom: -10px;
}
.jw-glass {
  position: absolute;
  bottom: -10px;
  left: 310px;
}
.start .jw-glass {
  -webkit-animation: jwGlass linear 0.5s 22.2s 2 alternate;
  animation: jwGlass linear 0.5s 22.2s 2 alternate;
}
.splash {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 230px;
  left: 285px;
  opacity: 0;
  background: url(../imgs/splash.png);
  background-position: 0 0;
}
.start .splash {
  -webkit-animation: show 0.1s 21.7s forwards, splash steps(4) 0.4s 21.8s forwards, hide 0.1s 22.2s forwards;
  animation: show 0.1s 21.7s forwards, splash steps(4) 0.4s 21.8s forwards, hide 0.1s 22.2s forwards;
}
.jw-text {
  width: 350px;
  height: 300px;
  position: absolute;
  top: 60px;
  left: 135px;
  text-align: center;
}
.jw-text .jw-text-1 {
  width: 100%;
  position: absolute;
  top: -150px;
  left: 0;
  font-size: 30px;
  line-height: 2.5;
}
.jw-text .jw-text-2 {
  width: 100%;
  position: absolute;
  top: 550px;
  left: 0;
  font-size: 65px;
  line-height: 1.3;
}
.start .jw-text {
  -webkit-animation: jwTextOut linear 2s 22s forwards;
  animation: jwTextOut linear 2s 22s forwards;
}
.start .jw-text .jw-text-1 {
  -webkit-animation: jwTextTopIn linear 2s 22s forwards;
  animation: jwTextTopIn linear 2s 22s forwards;
}
.start .jw-text .jw-text-2 {
  -webkit-animation: jwTextBottomIn linear 2s 22s forwards;
  animation: jwTextBottomIn linear 2s 22s forwards;
}
.jw-box-10 {
  width: 480px;
  height: 530px;
  margin-top: 35px;
  margin-left: 530px;
  overflow: hidden;
  background: #f48a00;
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  -webkit-transform-origin: 100% 50% 0;
  transform-origin: 100% 50% 0;
}
.start .jw-box-10 {
  -webkit-animation: jwMainInOut linear 2.5s 21.5s forwards;
  animation: jwMainInOut linear 2.5s 21.5s forwards;
}
.cannonball-run-img {
  width: 550px;
  height: 550px;
  display: block;
  position: absolute;
  top: 50px;
  left: 150px;
  opacity: 0;
  z-index: 1;
  background-image: url(../imgs/cannonball-run.png);
  background-position: 0 0;
}
.start .cannonball-run-img {
  -webkit-animation: showOpacity 0.1s 20s forwards, cannonballRun steps(3) 0.2s 20s 7 alternate, hide 0.1s 21.2s forwards;
  animation: showOpacity 0.1s 20s forwards, cannonballRun steps(3) 0.2s 20s 7 alternate, hide 0.1s 21.2s forwards;
}
.cannonball-img {
  width: 550px;
  height: 400px;
  display: block;
  background-image: url(../imgs/cannonball-run.png);
  background-position: 0 -1650px;
  position: absolute;
  top: 30px;
  left: 200px;
  opacity: 0;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}
.start .cannonball-img {
  -webkit-animation: cannonball 1s 21.3s forwards;
  animation: cannonball 1s 21.3s forwards;
}
.archer-end-img {
  width: 270px;
  height: 0;
  position: absolute;
  top: 130px;
  left: 10px;
  background-image: url(../imgs/archer-end.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.start .archer-end-img {
  -webkit-animation: arImgInOut linear 6s 24.4s forwards;
  animation: arImgInOut linear 6s 24.4s forwards;
}
.ar-boxes {
  width: 700px;
  height: 255px;
  margin-top: 620px;
  margin-left: 335px;
}
.ar-boxes div {
  height: 255px;
  margin-top: 0;
  float: left;
}
.start .ar-boxes {
  -webkit-animation: arBoxesIn linear 0.6s 23.8s forwards;
  animation: arBoxesIn linear 0.6s 23.8s forwards;
}
.ar-box-1 {
  width: 395px;
  background-color: #f23d00;
  background-image: url(../imgs/girls.png);
  background-position: 0 0;
}
.start .ar-box-1 {
  -webkit-animation: arBoxOne 5s 23.8s forwards, arBoxesOut linear 0.8s 28s forwards;
  animation: arBoxOne 5s 23.8s forwards, arBoxesOut linear 0.8s 28s forwards;
}
.ar-box-2 {
  width: 240px;
  margin-left: 20px;
  background-color: #f23d00;
  background-image: url(../imgs/girls.png);
  background-position: -415px 0;
}
.start .ar-box-2 {
  -webkit-animation: arBoxTwo 5s 23.8s forwards, arBoxesOut linear 0.8s 28.2s forwards;
  animation: arBoxTwo 5s 23.8s forwards, arBoxesOut linear 0.8s 28.2s forwards;
}
.ar-text {
  width: 800px;
  position: absolute;
  top: 365px;
  left: 220px;
  font-size: 140px;
}
.ar-text div {
  float: left;
  margin-top: -500px;
  margin-bottom: 600px;
}
.start .letter-1 {
  -webkit-animation: arLetterIn linear 0.3s 24.4s forwards, arLetterOut linear 0.3s 28.7s forwards;
  animation: arLetterIn linear 0.3s 24.4s forwards, arLetterOut linear 0.3s 28.7s forwards;
}
.start .letter-2 {
  -webkit-animation: arLetterIn linear 0.3s 24.7s forwards, arLetterOut linear 0.3s 28.4s forwards;
  animation: arLetterIn linear 0.3s 24.7s forwards, arLetterOut linear 0.3s 28.4s forwards;
}
.start .letter-3 {
  -webkit-animation: arLetterIn linear 0.3s 25s forwards, arLetterOut linear 0.3s 29s forwards;
  animation: arLetterIn linear 0.3s 25s forwards, arLetterOut linear 0.3s 29s forwards;
}
.start .letter-4 {
  -webkit-animation: arLetterIn linear 0.3s 25.3s forwards, arLetterOut linear 0.3s 28.7s forwards;
  animation: arLetterIn linear 0.3s 25.3s forwards, arLetterOut linear 0.3s 28.7s forwards;
}
.start .letter-5 {
  -webkit-animation: arLetterIn linear 0.3s 25.6s forwards, arLetterOut linear 0.3s 29s forwards;
  animation: arLetterIn linear 0.3s 25.6s forwards, arLetterOut linear 0.3s 29s forwards;
}
.start .letter-6 {
  -webkit-animation: arLetterIn linear 0.3s 25.9s forwards, arLetterOut linear 0.3s 28.7s forwards;
  animation: arLetterIn linear 0.3s 25.9s forwards, arLetterOut linear 0.3s 28.7s forwards;
}
