@import 'vars';
@import 'animations';

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family:"Baveuse";
  src:url("Baveuse.eot?") format("eot"), url("Baveuse.woff") format("woff"), url("Baveuse.ttf") format("truetype"), url("Baveuse.svg#Baveuse") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #666;
  font-family: "Baveuse";
  line-height: 1;
  letter-spacing: 1px;
  color: $white;
  padding: 10px;
}

.play {
  width: 100%;
  @include clearfix;
}

.play a {
  display: inline-block;
  border-radius: 5px;
  color: $black;
  font-size: 16px;
  margin: 0 10px 10px 0;
  padding: 10px;
  text-decoration: none;
  background: $orange1;

  &:hover {
    background: $orange2;
  }

  &:last-child {
    float: right;
    margin-right: 0;
  }
}

.wrap {
  @include hd;
  margin: 0 auto;
  position: relative;

  div[class^="scene"] {
    @include hd;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.aspect-ratio {
  @include aspect-ratio(135, 76);
}

.main {
  @include hd;
  background: $black;
  overflow: hidden;
}

.dot {
  // width: 380px;
  // height: 380px;
  width: 35.185185%;
  height: 59.210526%;
  border-radius: 50%;
  background: $white;
  position: absolute;
  // top: 114px;
  // left: 350px;
  top: 18.75%;
  left: 32.407407%;
  opacity: 0;
  z-index: 10;
}

.trail {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background: $black;
  z-index: 11;
}

.trail-cover {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: $white;
  z-index: 12;
}

.start .dot {
  animation: theDot linear 30s 0s forwards;
}

.start .trail {
  animation: theDotTrail linear 30s 0s forwards;
}


// ===========
// Scene - 1
// ===========

.left-leg, .right-leg {
  // width: 285px;
  // height: 560px;
  width: 26.388889%;
  height: 92.105263%;
  position: absolute;

}

.left-leg {
  // top: 15px;
  // left: 30px;
  top: 2.4671053%;
  left: 2.7777778%;
  background: $green1;
}

.start .left-leg {
  animation: climb 1s 5.5s forwards;
}

.right-leg {
  // top: 15px;
  // right: 30px;
  top: 2.4671053%;
  right: 2.7777778%;
  background: $orange1;
}
.start .right-leg {
  animation: climb 1s 5.5s forwards;
}

.clock {
  // width: 380px;
  // height: 380px;
  width: 35.185185%;
  height: 62.5%;
  border-radius: 50%;
  background: $white;
  position: absolute;
  // top: 114px;
  // left: 350px;
  top: 18.75%;
  left: 32.407407%;
  z-index: 1;
  transform: scale(40);
}

.start .clock {
  animation: clockInOut ease-in 6s forwards;
}

.clock-center {
  // width: 40px;
  // height: 40px;
  width: 10.526316%;
  height: 10.526316%;
  border-radius: 50%;
  background: $black;
  position: absolute;
  // top: 170px;
  // left: 170px;
  top: 44.736842%;
  left: 44.736842%;
}

.start .clock-hands {
  animation: hide 0.2s 4.5s forwards;
}

.small-hand-container, .big-hand-container {
  // width: 380px;
  // height: 380px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.start .small-hand-container {
  animation: spinningHands 4s forwards;
}

.start .big-hand-container {
  animation: spinningHands .2s 0s 20 forwards;
}

.small-hand {
  // width: 20px;
  // height: 100px;
  width: 5.2631579%;
  height: 26.315789%;
  position: absolute;
  // top: 80px;
  // left: 180px;
  top: 21.052632%;
  left: 47.368421%;
}

.big-hand {
  // width: 20px;
  // height: 170px;
  width: 5.2631579%;
  height: 44.736842%;
  position: absolute;
  // top: 10px;
  // left: 180px;
  top: 2.6315789%;
  left: 47.368421%;
}

.numbers {
  width: 100%;
  height: 100%;
}

img[class^="num"] {
  // height: 40px;
  height: 10.526316%;
  color: $black;
  position: absolute;
}

.num-1 {
  // top: 30px;
  // left: 260px;
  top: 7.8947368%;
  left: 68.421053%;
}

.start .num-1 {
  animation: fall 1s 4.3s forwards;
}

.num-2 {
  // top: 90px;
  // left: 310px;
  top: 23.684211%;
  left: 81.578947%;
}

.start .num-2 {
  animation: fall 1s 4s forwards;
}

.num-3 {
  // top: 170px;
  // left: 340px;
  top: 44.736842%;
  left: 89.473684%;
}

.start .num-3 {
  animation: fall 1s 4s forwards;
}

.num-4 {
  // top: 250px;
  // left: 310px;
  top: 65.789474%;
  left: 81.578947%;
}

.start .num-4 {
  animation: fall 1s 4s forwards;
}

.num-5 {
  // top: 300px;
  // left: 250px;
  top: 78.947368%;
  left: 65.789474%;
}

.start .num-5 {
  animation: fall 1s 4s forwards;
}

.num-6 {
  // top: 330px;
  // left: 175px;
  top: 86.842105%;
  left: 46.052632%;
}

.start .num-6 {
  animation: fall 1s 4s forwards;
}

.num-7 {
  // top: 300px;
  // left: 100px;
  top: 78.947368%;
  left: 26.315789%;
}

.start .num-7 {
  animation: fall 1s 4s forwards;
}

.num-8 {
  // top: 250px;
  // left: 40px;
  top: 65.789474%;
  left: 10.526316%;
}

.start .num-8 {
  animation: fall 1s 4.2s forwards;
}

.num-9 {
  // top: 170px;
  // left: 10px;
  top: 44.736842%;
  left: 2.6315789%;
}

.start .num-9 {
  animation: fall 1s 4s forwards;
}

.num-10 {
  // top: 90px;
  // left: 30px;
  top: 23.684211%;
  left: 7.8947368%;
}

.start .num-10 {
  animation: fall 1s 4s forwards;
}

.num-11 {
  // top: 30px;
  // left: 100px;
  top: 7.8947368%;
  left: 26.315789%;
}

.start .num-11 {
  animation: fall 1s 4.2s forwards;
}

.num-12 {
  // top: 10px;
  // left: 170px;
  top: 2.6315789%;
  left: 44.736842%;
}

.start .num-12 {
  animation: fall 1s 4s forwards;
}

.jet-img {
  width: 38.684211%;
  position: absolute;
  // top: 10px;
  // left: 115px;
  top: 2.6315789%;
  left: 30.263158%;
  transform: rotateY(90deg);
}

.start .jet-img {
  animation: rotateFly 1s 4.5s forwards;
}

.left-leg-img {
  width: 40.37037%;
  position: absolute;
  // top: -50px;
  // left: 70px;
  top: -8.2236842%;
  left: 6.4814815%;
  opacity: 0.8;
  z-index: 1;
  transform-origin: 50% -100% 0;
  transform: rotateZ(-15deg);
}

.start .left-leg-img {
 animation: leftLeg 1s .5s 5, hide .1s 5.5s forwards;
}

.right-leg-img {
  width: 29.722222%;
  position: absolute;
  // top: -40px;
  // left: 670px;
  top: -6.5789474%;
  left: 62.037037%;
  opacity: 0.8;
  z-index: 1;
  transform-origin: 50% -100% 0;
  transform: rotateZ(15deg);
}

.start .right-leg-img {
 animation: rightLeg 1s .5s 5, hide .1s 5.5s forwards;
}


// ===========
// Scene - 2
// ===========

.container-scene-2 {
  // width: 5220px;
  // height: 608px;
  width: 483.333333%;
  height: 100%;
  position: absolute;
  top: 0;
  // left: -4140px;
  left: -383.333333%;
}

.start .container-scene-2 {
  animation: slideRight linear 2s 8s forwards;
}

.hjb-blue-boxes {
  // @include hd;
  width: 20.689655%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0);

  div[class^="hjb-blue"] {
    background: $blue1;
    position: absolute;
  }
}

.start .hjb-blue-boxes {
  animation: scaleIn linear 1s 5.5s forwards;
}

.hjb-text {
  // height: 46px;
  width: auto;
  height: 7.5657895%;
  position: absolute;
  // top: 380px;
  // left: 340px;
  top: 62.6%;
  left: 31.4%;
  z-index: 2;
}

.start .hjb-text {
  animation: hjbMove linear .6s 7.2s forwards;
}

.hjb-gun-img {
  width: 95.092593%;
  position: absolute;
  // top: 60px;
  // left: 250px;
  top: 9.8684211%;
  left: 23.148148%;
  z-index: 1;
  opacity: 0.8;
  transform-origin: 100% 100% 0;
  transform: rotateZ(-90deg);
}

.start .hjb-gun-img {
  animation: hjbGun linear 2s 6.7s forwards;
}

.hjb-gun-blast {
  // width: 147px;
  // height: 189px;
  width: 13.611111%;
  height: 31.085526%;
  position: absolute;
  // top: 180px;
  // left: 90px;
  top: 29.605263%;
  left: 8.3333333%;
  z-index: 1;
  opacity: 0;
}

.start .hjb-gun-blast {
  animation: showOpacity .2s 7.9s alternate;
}

.hjb-blue-1 {
  // width: 430px;
  // height: 210px;
  width: 39.814815%;
  height: 34.539474%;
  // top: 120px;
  // left: 30px;
  top: 19.736842%;
  left: 2.7777778%;
}

.hjb-blue-2 {
  // width: 430px;
  // height: 125px;
  width: 39.814815%;
  height: 20.559211%;
  // top: 440px;
  // left: 30px;
  top: 72.368421%;
  left: 2.7777778%;
}

.hjb-blue-3 {
  // width: 500px;
  // height: 300px;
  width: 46.296296%;
  height: 49.342105%;
  // top: 75px;
  // left: 510px;
  top: 12.335526%;
  left: 47.222222%;
}

.hjb-blue-4 {
  // width: 500px;
  // height: 30px;
  width: 46.296296%;
  height: 4.9342105%;
  // top: 435px;
  // left: 510px;
  top: 71.546053%;
  left: 47.222222%;
}

.hjb-blue-5 {
  // width: 500px;
  // height: 30px;
  width: 46.296296%;
  height: 4.9342105%;
  // top: 485px;
  // left: 510px;
  top: 79.769737%;
  left: 47.222222%;
}

.hjb-blue-6 {
  // width: 500px;
  // height: 30px;
  width: 46.296296%;
  height: 4.9342105%;
  // top: 535px;
  // left: 510px;
  top: 87.993421%;
  left: 47.222222%;
}

.bars {
  // width: 3060px;
  // height: 500px;
  width: 58.62069%;
  height: 82.236842%;
  position: absolute;
  // top: 60px;
  // left: 1080px;
  top: 9.8684211%;
  left: 20.689655%;
}

.bars-group-1 {
  width: 29.411765%;
  height: 100%;
  float: right;

  div {
    background: $purple1;
  }
}

.bars-group-2 {
  width: 29.411765%;
  height: 100%;
  float: right;

  div {
    background: $purple2;
  }
}

.bars-group-3 {
  width: 41.176471%;
  height: 100%;
  float: right;

  div {
    background: $green2;
  }
}

// .bars {
//   div[class^="bar-"] {
//     width: 150px;
//     height: 500px;
//     float: right;
//     margin-left: 30px;
//   }
// }

.bars-group-1, .bars-group-2 {
  div[class^="bar-"] {
    width: 16.666667%;
    height: 100%;
    float: right;
    margin-left: 3.3333333%;
  }
}

.bars-group-3 {
  div[class^="bar-"] {
    width: 11.904762%;
    height: 100%;
    float: right;
    margin-left: 2.3809524%;
  }
}

.high-kick {
  // @include hd;
  width: 20.689655%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.start .high-kick {
  animation: kickBack linear .5s 10s forwards;
}

.high-kick-box {
  // width: 1000px;
  // height: 470px;
  // margin: 80px auto 0;
  width: 92.592593%;
  height: 77.302632%;
  margin: 7.4074074% auto 0;
  background: $blue1;
}

.kick-img {
  // width: 396px;
  // height: 500px;
  width: 36.666667%;
  height: 82.236842%;
  position: absolute;
  // top: 110px;
  // left: 540px;
  top: 18.092105%;
  left: 50%;
  opacity: 0.8;
  z-index: 1;
  background-image: url(../imgs/high-kick.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  transform-origin: 100% 100% 0;
  transform: rotate(-90deg) scale(1);
}

.start .kick-img {
  animation: kickImg linear 2s 8.5s forwards;
}

// ===========
// Scene - 3
// ===========

.start .scene-3 {
  animation: slideLeft linear 1.5s 13.5s forwards;
}

.jg-text {
  // height: 60px;
  width: auto;
  height: 9.8684211%;
  position: absolute;
  // top: 620px;
  // left: 332px;
  top: 101.973684%;
  left: 30.740741%;
  z-index: 1;
}

.start .jg-text {
  animation: jgText linear 3s 11s forwards;
}

.jg-box {
  // width: 250px;
  // height: 500px;
  width: 23.148148%;
  height: 82.236842%;
  float: left;
  // margin: 60px 0 0 230px;
  margin: 5.5555556% 0 0 21.296296%;
  position: relative;
  overflow: hidden;
  background: $pink;
  transform: scale(1, 0);
}

.start .jg-box {
  animation: stretchOpen linear 1s 11s forwards;
}

.jg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

div[class^="bead"]{
  position: absolute;
  z-index: 1;
  background: $pink;
}

.bead-1 {
  // width: 10px;
  // height: 10px;
  width: 4%;
  height: 2%;
  border-radius: 50%;
  // top: 244px;
  // left: 64px;
  top: 48.8%;
  left: 25.6%;
}

.start .bead-1 {
  animation: fall .5s 13s forwards;
}

.bead-2 {
  // width: 12px;
  // height: 12px;
  width: 4.8%;
  height: 2.4%;
  border-radius: 50%;
  // top: 252px;
  // left: 72px;
  top: 50.4%;
  left: 28.8%;
}

.start .bead-2 {
  animation: fall .5s 13.1s forwards;
}

.bead-3 {
  // width: 14px;
  // height: 14px;
  width: 5.6%;
  height: 2.8%;
  border-radius: 50%;
  // top: 260px;
  // left: 84px;
  top: 52%;
  left: 33.6%;
}

.start .bead-3 {
  animation: fall .5s 13s forwards;
}

.bead-4 {
  // width: 16px;
  // height: 16px;
  width: 6.4%;
  height: 3.2%;
  border-radius: 50%;
  // top: 265px;
  // left: 100px;
  top: 53%;
  left: 40%;
}

.start .bead-4 {
  animation: fall .5s 13.1s forwards;
}

.bead-5 {
  // width: 16px;
  // height: 16px;
  width: 6.4%;
  height: 3.2%;
  border-radius: 50%;
  // top: 265px;
  // left: 143px;
  top: 53%;
  left: 57.2%;
}

.start .bead-5 {
  animation: fall .5s 13s forwards;
}

.bead-6 {
  // width: 14px;
  // height: 14px;
  width: 5.6%;
  height: 2.8%;
  border-radius: 50%;
  // top: 260px;
  // left: 160px;
  top: 52%;
  left: 64%;
}

.start .bead-6 {
  animation: fall .5s 13.1s forwards;
}

.bead-7 {
  // width: 12px;
  // height: 12px;
  width: 4.8%;
  height: 2.4%;
  border-radius: 50%;
  // top: 252px;
  // left: 173px;
  top: 50.4%;
  left: 69.2%;
}

.start .bead-7 {
  animation: fall .5s 13s forwards;
}

.bead-8 {
  // width: 10px;
  // height: 10px;
  width: 4%;
  height: 2%;
  border-radius: 50%;
  // top: 244px;
  // left: 184px;
  top: 48.8%;
  left: 73.6%;
}

.start .bead-8 {
  animation: fall .5s 13.1s forwards;
}

.heart {
  // width: 246px;
  // height: 260px;
  width: 22.777778%;
  height: 42.763158%;
  position: absolute;
  // top: 60px;
  // left: 595px;
  top: 9.8684211%;
  left: 55.092593%;
  transform: scale(0);
  background: url(../imgs/heart.svg);
  background-repeat: no-repeat;
}

.heart.heart-left {
  background-position: top left;
  background-size: cover;
  z-index: 2;
}

.start .heart.heart-left {
  animation: heartBreakLeft linear 2s 11.8s forwards;
}

.heart.heart-right {
  background-position: bottom left;
  background-size: cover;
  z-index: 3;
}

.start .heart.heart-right {
  animation: heartBreakRight linear 2s 11.8s forwards;
}


// ===========
// Scene - 4
// ===========

.container-scene-4 {
  // width: 2160px;
  // height: 1216px;
  width: 200%;
  height: 200%;
  position: absolute;
  // top: 912px;
  // left: 1620px;
  top: 150%;
  left: 150%;
}

.start .container-scene-4 {
  animation: cpInOut linear 4.5s 13s forwards;
}

.cp-intro {
  // @include hd;
  width: 50%;
  height: 50%;
  position: absolute;
  // top: 180px;
  // left: 250px;
  top: 14.802632%;
  left: 11.574074%;

  .cp-left {
    // width: 460px;
    width: 42.592593%;
    height: 100%;
    float: left;
    // margin-left: 100px;
    margin-left: 9.2592593%;

    div {
      float: left;
    }
  }

  .cp-right {
    // width: 310px;
    width: 28.703704%;
    height: 100%;
    float: left;
    // margin-left: 30px;
    margin-left: 2.7777778%;

    div {
      float: left;
      background: $gold;
    }
  }
}

.start .cp-intro {
  animation: cpIntro linear 2.5s 15.5s forwards;
}

.cp-box-1 {
  // width: 110px;
  // height: 210px;
  width: 23.913043%;
  height: 34.539474%;
  // margin-top: 305px;
  margin-top: 66.304348%;
  background: $green3;

  &:before {
    content: "";
    // width: 20px;
    // height: 15px;
    width: 18.181818%;
    height: 7.1428571%;
    display: block;
    float: left;
    // margin-top: -15px;
    // margin-left: 10px;
    margin-top: -13.636364%;
    margin-left: 9.0909091%;
    background: $green3;
  }

  &:after {
    content: "";
    // width: 35px;
    // height: 25px;
    width: 31.818182%;
    height: 11.904762%;
    display: block;
    float: right;
    // margin-top: -25px;
    // margin-right: 15px;
    margin-top: -22.727273%;
    margin-right: 13.636364%;
    background: $green3;
  }
}

.cp-box-2 {
  // width: 190px;
  // height: 420px;
  width: 41.304348%;
  height: 69.078947%;
  // margin-top: 100px;
  // margin-left: 30px;
  margin-top: 21.73913%;
  margin-left: 6.5217391%;
  background: $green3;

  &:before {
    content: "";
    // width: 50px;
    width: 26.315789%;
    height: 4.7619048%;
    display: block;
    float: right;
    // margin-top: -20px;
    margin-top: -10.526316%;
    // border-top: 20px solid $green3;
    // border-left: 3px solid transparent;
    background: $green3;
    // transform: skew(10deg);
  }
}

.cp-box-3 {
  // width: 110px;
  // height: 300px;
  width: 23.913043%;
  // height: 45.230263%;
  height: 49.342105%;
  // margin-top: 220px;
  // margin-left: 20px;
  margin-top: 47.826087%;
  margin-left: 4.3478261%;
  background: url(../imgs/cp-box-3.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.cp-box-4 {
  // width: 310px;
  // height: 140px;
  width: 100%;
  height: 23.026316%;
  // margin-top: 155px;
  margin-top: 50%;

  &:before {
    content: "";
    // width: 50px;
    // height: 10px;
    width: 16.129032%;
    height: 7.1428571%;
    display: block;
    float: left;
    // margin-top: -10px;
    // margin-left: 145px;
    margin-top: -3.2258065%;
    margin-left: 46.774194%;
    background: $gold;
  }

  &:after {
    content: "";
    // width: 45px;
    // height: 20px;
    width: 14.516129%;
    height: 14.285714%;
    display: block;
    float: right;
    // margin-top: -20px;
    // margin-right: 20px;
    margin-top: -6.4516129%;
    margin-right: 6.4516129%;
    background: $gold;
    transform: skew(10deg);
  }
}

.cp-box-5 {
  // width: 310px;
  // height: 125px;
  width: 100%;
  height: 20.559211%;
  // margin-top: 30px;
  margin-top: 9.6774194%;
}

.cp-box-6 {
  // width: 310px;
  // height: 35px;
  width: 100%;
  height: 5.7565789%;
  // margin-top: 25px;
  margin-top: 8.0645161%;
}

.cp-main {
  // @include hd;
  width: 50%;
  height: 50%;
  position: absolute;
  // top: 608px;
  // left: 1080px;
  top: 50%;
  left: 50%;
}

.cp-text {
  // width: 687px;
  // height: 66px;
  // width: 63.611111%;
  width: auto;
  height: 10.855263%;
  // line-height: 1.2;
  position: absolute;
  // top: 135px;
  // left: 75px;
  // top: 22.203947%;
  // left: 6.9444444%;
  top: 23.203947%;
  left: 4.9444444%;
}

.cp-box {
  // width: 760px;
  // height: 285px;
  width: 70.37037%;
  height: 46.875%;
  // margin: 225px auto 0;
  margin: 20.833333% auto 0;
  position: relative;
  overflow: hidden;
  background: $green4;
}

.cp-img {
  // width: 434px;
  // height: 350px;
  width: 57.105263%;
  height: 122.807018%;
  display: block;
  background: url(../imgs/cp-img.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: absolute;
  // top: 5px;
  // left: 100px;
  top: 1.754386%;
  left: 13.157895%;
  transform: scale(1.3);
  transform-origin: 0 0;
}

.start .cp-img {
  animation: cpImg linear 3s 14.5s forwards;
}

.cp-phone {
  // width: 158px;
  // height: 251px;
  width: 20.789474%;
  height: 88.070175%;
  position: absolute;
  // top: 200px;
  // left: 60px;
  top: 70.175439%;
  left: 7.8947368%;
  transform: rotate(-60deg);
  transform-origin: 0 100%;
}

.start .cp-phone {
  animation: cpPhone linear 3s 14.5s forwards;
}

.cp-bolt {
  // width: 500px;
  // height: 40px;
  width: 3125%;
  height: 250%;
  background-image: url(../imgs/bolt.svg);
  background-repeat: no-repeat;
  background-position: 0 200%;
  background-size: cover;
  position: absolute;
  // top: -16px;
  // left: -241px;
  top: -100%;
  left: -1506.25%;
  opacity: 0;
}

.start .cp-bolt {
  animation: show .3s 15.5s 4, bolt steps(2) .3s 15.5s 4 alternate;
}

.cp-flash {
  // width: 30px;
  // height: 30px;
  width: 187.5%;
  height: 187.5%;
  // top: -7px;
  // left: -7px;
  top: -48.75%;
  left: -43.75%;
  position: absolute;
  opacity: 0;
}

.start .cp-flash {
  animation: show .3s 15s 4;
}


// ===========
// Scene - 5
// ===========

.container-scene-5 {
  // width: 1080px;
  // height: 1048px;
  width: 100%;
  height: 172.368421%;
  position: absolute;
  // top: 608px;
  top: 100%;
  left: 0;
  perspective: 1200px;
  perspective-origin: 100% 64.5%;
}

.start .container-scene-5 {
  animation: atIn linear 3s 17s forwards;
}

.at-intro {
  // width: 1080px;
  // height: 440px;
  width: 100%;
  // height: 41.984733%;
  height: 41.784733%;

  div {
    float: left;
    background: $yellow;
  }
}

.archer-hands-up-img {
  // width: 423px;
  // height: 415px;
  width: 39.166667%;
  height: auto;
  position: absolute;
  // top: 40px;
  // left: 410px;
  top: 9.0909091%;
  left: 37.962963%;
  opacity: 0.8;
}

.start .archer-hands-up-img {
  animation: slideLeft linear 4s 17.1s forwards;
}

.at-box-1 {
  // width: 140px;
  // height: 430px;
  width: 12.962963%;
  height: 97.727273%;
  // margin-top: 10px;
  // margin-left: 90px;
  margin-top: 0.92592593%;
  margin-left: 8.3333333%;
}

.at-box-2 {
  // width: 70px;
  // height: 435px;
  width: 6.4814815%;
  height: 98.863636%;
  // margin-top: 5px;
  // margin-left: 70px;
  margin-top: 0.46296296%;
  margin-left: 6.4814815%;
}

.at-box-3 {
  // width: 600px;
  // height: 440px;
  width: 55.555556%;
  height: 100%;
  // margin-left: 30px;
  margin-left: 2.7777778%;
}

.at-main {
  // @include hd;
  width: 100%;
  height: 58.015267%;
  position: relative;
  left: 0;
  transform: rotateY(0deg) scale(1);
  transform-origin: 100% 50% 0;
  float: left;

  div[class^="at-box"] {
    // height: 440px;
    // margin-top: 60px;
    height: 72.368421%;
    margin-top: 5.5555556%;
    float: left;
    background: $red1;
  }
}

.start .at-main {
  animation: atOut linear 3s 17s forwards;
}

.perspective-at-text {
  // @include hd;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  perspective: 1200px;
  perspective-origin: 100% 50%;
}

.container-at-text {
  // @include hd;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  // left: -750px;
  left: -69.444444%;
  z-index: 1;
  transform: rotateY(0deg) scale(1);
  transform-origin: 100% 50% 0;
}

.start .container-at-text {
  animation: atTextInOut linear 3s 17s forwards;
}

.at-text {
  // height: 69px;
  width: auto;
  height: 11.348684%;
  position: absolute;
  // bottom: 30px;
  // left: 150px;
  bottom: 4.9342105%;
  left: 13.888889%;
}

.start .at-text {
  animation: atTextSlide linear 3s 17s forwards;
}

.at-box-4 {
  // width: 130px;
  // margin-left: 295px;
  width: 12.037037%;
  margin-left: 27.314815%;
}

.at-box-5 {
  // width: 200px;
  // margin-left: 20px;
  width: 18.518519%;
  margin-left: 1.8518519%;
}

.at-box-6 {
  // width: 340px;
  // margin-left: 15px;
  width: 31.481481%;
  margin-left: 1.3888889%;
}

.at-gun {
  // width: 538px;
  // height: 650px;
  width: 49.814815%;
  height: 106.907895%;
  background: url(../imgs/at-gun-up.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover;
  position: absolute;
  // top: 70px;
  // left: 560px;
  top: 11.513158%;
  left: 51.851852%;
  opacity: 0.8;
  transform: scale(0.7);
  transform-origin: 0 0;
}

.start .at-gun {
  animation: atImgIn linear 1.5s 17s forwards, atGunUp steps(3) .3s 18.5s forwards;
}

.at-gun-blast {
  // width: 318px;
  // height: 308px;
  width: 59.107807%;
  height: 47.384615%;
  background: url(../imgs/at-gun-blast.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  // top: 155px;
  // left: -185px;
  top: 23.846154%;
  left: -34.386617%;
  opacity: 0;
}

.start .at-gun-blast {
  animation: showOpacity .2s 19.2s forwards, hide .2s 19.5s forwards;
}


// ===========
// Scene - 6
// ===========

.container-scene-6 {
  // width: 3000px;
  // height: 608px;
  width: 277.777778%;
  height: 100%;
  position: absolute;
  top: 0;
  // left: -3000px;
  left: -277.777778%;
}

.start .container-scene-6 {
  animation: jwInOut linear 4s 20s forwards;
}

.jw-intro {
  // width: 1920px;
  // height: 608px;
  width: 64%;
  height: 100%;
  float: right;
}

div[class^="boxes-group"] {
  // width: 600px;
  // height: 608px;
  width: 31.25%;
  height: 100%;
  float: right;
  // margin-left: 40px;
  margin-left: 2.0833333%;

  div[class^="jw-box"] {
    // width: 600px;
    width: 100%;
  }

  div[class^="jw-box"]:first-child {
    // height: 75px;
    // margin-top: 50px;
    height: 12.335526%;
    margin-top: 8.3333333%;
  }
  div[class^="jw-box"]:nth-child(2) {
    // height: 165px;
    // margin-top: 30px;
    height: 27.138158%;
    margin-top: 5.0%;
  }
  div[class^="jw-box"]:last-child {
    // height: 200px;
    // margin-top: 30px;
    height: 32.894737%;
    margin-top: 5.0%;
  }
}

.boxes-group-1 div {
  background: $blue3;
}

.boxes-group-2 div {
  background: $blue4;
}

.boxes-group-3 div {
  background: $purple3;
}

.jw-main {
  // @include hd;
  width: 36%;
  height: 100%;
  float: left;
  position: relative;
}

.jw-box-10 {
  // width: 480px;
  // height: 530px;
  width: 44.444444%;
  height: 87.171053%;
  // margin-top: 35px;
  // margin-left: 530px;
  margin-top: 3.2407407%;
  margin-left: 49.074074%;
  overflow: hidden;
  background: $orange2;
  transform: scale(2.5);
  transform-origin: 100% 50% 0;
}

.start .jw-box-10 {
  animation: jwMainInOut linear 2.5s 21.5s forwards;
}

.jw-img {
  // width: 367px;
  // height: 408px;
  width: 76.458333%;
  height: 76.981132%;
  position: absolute;
  // bottom: -10px;
  // left: -10px;
  bottom: -1.8867925%;
  left: -2.0833333%;
}

.jw-glass {
  // width: 136px;
  // height: 219px;
  width: 28.333333%;
  height: 41.320755%;
  position: absolute;
  // bottom: -10px;
  // left: 310px;
  bottom: -1.8867925%;
  left: 64.583333%;
}

.start .jw-glass {
  animation: jwGlass linear .5s 22.2s 2 alternate;
}

.splash {
  // width: 160px;
  // height: 125px;
  width: 33.333333%;
  height: 23.584906%;
  position: absolute;
  // top: 230px;
  // left: 285px;
  top: 43.396226%;
  left: 59.375%;
  opacity: 0;
  background: url(../imgs/splash.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.start .splash {
  // animation: show .1s 21.7s forwards, splash steps(4) .4s 21.8s forwards, hide .1s 22.2s forwards;
  animation: show .1s 21.7s forwards, splash steps(3) .4s 21.8s forwards, hide .1s 22.2s forwards;
}

.cannonball-run-img {
  // width: 550px;
  // height: 550px;
  width: 50.925926%;
  height: 90.460526%;
  display: block;
  position: absolute;
  // top: 50px;
  // left: 150px;
  top: 8.2236842%;
  left: 13.888889%;
  opacity: 0;
  z-index: 1;
  background-image: url(../imgs/cannonball-run.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.start .cannonball-run-img {
  animation: showOpacity .1s 20s forwards, cannonballRun steps(3) 0.2s 20s 7 alternate, hide .1s 21.2s forwards;
}

.cannonball-img {
  // width: 550px;
  // height: 550px;
  width: 114.583333%;
  height: 103.773585%;
  display: block;
  background-image: url(../imgs/cannonball-run.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover;
  position: absolute;
  // top: 30px; -45px
  // left: 200px;
  // top: 5.6603774%;
  top: -8.490566%;
  left: 41.666667%;
  opacity: 0;
  transform: scale(0.4);
}

.start .cannonball-img {
  animation: cannonball 1s 21.3s forwards;
}

.jw-text {
  // width: 350px;
  // height: 300px;
  width: 32.407407%;
  height: 49.342105%;
  position: absolute;
  // top: 60px;
  // left: 135px;
  top: 9.8684211%;
  left: 12.5%;
  text-align: center;

  .jw-text-1 {
    width: 100%;
    // height: 28px
    height: 9.3333333%;
    position: absolute;
    // top: -150px;
    top: -50%;
    left: 0;
    // line-height: 2.5;

    img {
      // height: 28px
      height: 100%;
    }
  }

  .jw-text-2 {
    width: 100%;
    // height: 165px;
    height: 55%;
    position: absolute;
    // top: 550px;
    top: 183.333333%;
    left: 0;
    // line-height: 1.3;

    img {
      // height: 124px;
      height: 100%;
    }
  }
}

.start .jw-text {
  animation: jwTextOut linear 2s 22s forwards;

  .jw-text-1 {
    animation: jwTextTopIn linear 2s 22s forwards;
  }

  .jw-text-2 {
    animation: jwTextBottomIn linear 2s 22s forwards;
  }
}

// ===========
// Scene - 7
// ===========

.archer-end-img {
  // width: 270px;
  width: 25%;
  height: 0;
  position: absolute;
  // top: 130px;
  // left: 10px;
  top: 21.381579%;
  left: 0.92592593%;
  background-image: url(../imgs/archer-end.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.start .archer-end-img {
  animation: arImgInOut linear 6s 24.4s forwards;
}

.ar-boxes {
  // width: 700px;
  // height: 255px;
  width: 64.814815%;
  height: 41.940789%;
  // margin-top: 620px;
  // margin-left: 335px;
  margin-top: 57.407407%;
  margin-left: 31.018519%;
  position: relative;
  z-index: 0;

  > div {
    // height: 255px;
    height: 100%;
    position: absolute;
    // margin-top: 0;
    top: 0;
    overflow: hidden;
  }
}

.start .ar-boxes {
  animation: arBoxesIn linear .6s 23.8s forwards;
}

.girls-bg {
  height: 100%;
  background: url(../imgs/girls.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $red2;
  position: absolute;
  top: 0;
}

.ar-box-1 {
  // width: 395px;
  width: 56.428571%;
  left: 0;

  .girls-bg {
    // width: 655px;
    width: 165.822785%;
    left: 0;
  }
}

.start .ar-box-1 {
  animation: arBoxesOut linear .8s 28s forwards;
}

.ar-box-2 {
  // width: 240px;
  width: 34.285714%;
  // margin-left: 20px;
  left: 59.285714%;

  .girls-bg {
    // width: 655px;
    width: 272.916667%;
    // margin-left: -415px;
    left: -172.916667%;
  }
}

.start .ar-box-2 {
  animation: arBoxesOut linear .8s 28.2s forwards;
}

.start .girls-bg {
  animation: arBoxGirls 5s 23.8s forwards;
}

.ar-text {
  // width: 800px;
  // height: 140px;
  width: 74.074074%;
  height: 23.026316%;
  position: absolute;
  // top: 365px;
  // left: 220px;
  // top: 60.032895%;
  top: 61%;
  left: 20.37037%;
  z-index: 10;

  img {
    height: 90%;
    float: left;
    // margin-top: -500px;
    // margin-bottom: 600px;
    margin-top: -62.5%;
    margin-bottom: 75%;
    margin-right: 1%;
  }
}

.start .letter-1 {
  animation: arLetterIn linear .3s 24.4s forwards, arLetterOut linear .3s 28.7s forwards;
}

.start .letter-2 {
  animation: arLetterIn linear .3s 24.7s forwards, arLetterOut linear .3s 28.4s forwards;
}

.start .letter-3 {
  animation: arLetterIn linear .3s 25s forwards, arLetterOut linear .3s 29s forwards;
}

.start .letter-4 {
  animation: arLetterIn linear .3s 25.3s forwards, arLetterOut linear .3s 28.7s forwards;
}

.start .letter-5 {
  animation: arLetterIn linear .3s 25.6s forwards, arLetterOut linear .3s 29s forwards;
}

.start .letter-6 {
  animation: arLetterIn linear .3s 25.9s forwards, arLetterOut linear .3s 28.7s forwards;
}

